<template>
  <div class="flex">
    <div class="flex-1 min-w-0 flex flex-col bg-gray-100">
      <div class="flex-shrink-0 sm:border-b-1 sm:border-gray-500 bg-gray-300">
        <header>
          <div class="px-2 sm:px-6">
            <div class="flex items-center justify-between py-2">
              <div class="sm:flex sm:items-center w-3/4">
                <button
                  @click="reorderTiers"
                  class="bg-blue-500 ml-3 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                  v-tooltip="{
                      content: 'Click to reorder',
                      placement: 'right',
                      classes: ['bg-blue-400 p-4 z-10'],
                      offset: 1,
                      delay: {
                        show: 500,
                        hide: 200,
                      },
                    }"
                >{{activeTier.ordinal}}</button>
                <input
                  type="text"
                  class="w-1/6 px-2 py-1 border border-gray-400 rounded-lg ml-2"
                  placeholder="Enter a tier name"
                  v-model="activeTierName"
                  v-on:blur="updateTierName"
                />
                <h3 class="pl-3 text-lg font-semibold text-gray-900 leading-tight" :class="activeTierPostChargeOff ? 'opacity-25' : 'opacity-100'">Duration</h3>
                <div class="mt-1 flex items-center sm:mt-0 sm:ml-3" :class="activeTierPostChargeOff ? 'opacity-25' : 'opacity-100' "
                  v-tooltip="{
                    content: 'Duration is not used for the final tier before post charge off.</br>RDN will transition a case to the next tier when a charge off is triggered by the system.',
                    placement: 'bottom',
                    classes: [activeTierPostChargeOff ? 'bg-blue-400 p-4 z-10 text-sm' : 'opacity-0'],
                    offset: 1,
                    delay: {
                      show: 200,
                      hide: 200,
                    },
                  }">
                  <input :disabled="activeTierPostChargeOff"
                    v-model="activeTierDuration"
                    type="text"
                    class="w-12 px-2 py-1 border border-gray-400 rounded-lg"
                    placeholder="30"
                  />
                  <h4 class="pl-2">days</h4>
                </div>
                <toggle-button
                  @change="pcoChanged"
                  v-model="activeTierPostChargeOff"
                  v-tooltip="{
                      content: 'Charge Off',
                      placement: 'bottom',
                      classes: ['bg-blue-400 p-4 z-10'],
                      offset: 1,
                      delay: {
                        show: 500,
                        hide: 200,
                      },
                    }"
                  class="ml-2 px-1 block"
                  color="#82C7EB"
                  :labels="{checked: 'Post', unchecked: 'Pre'}"
                  :sync="true"
                  />
                <h3
                  class="ml-2 text-md font-bold font-semibold text-gray-900 leading-tight"
                  v-tooltip="{
                    content: 'United States Allocation',
                    placement: 'bottom',
                    classes: ['bg-blue-400 p-4 z-10'],
                    offset: 1,
                    delay: {
                      show: 500,
                      hide: 200,
                    },
                  }"
                >USA</h3>
                <v-popover offset="1">
                  <svg
                    class="h-5 w-5 text-gray-700 fill-current mt-1 ml-2 cursor-pointer"
                    viewBox="0 0 24 24"
                  >
                    <path :d="$icons.svgPaths.edit" />
                  </svg>
                  <template slot="popover">
                    <AllocationCard :key="tierChangeKey" style="width:310px" :card="nationCard" />
                    <!-- <a v-close-popover>Close</a> -->
                  </template>
                </v-popover>
                <h4 
                  class="pl-2 text-md"
                  v-for="(alloc, index) in nationAllocation"
                  :key="index"
                >{{truncate(alloc.name, 7)}} {{alloc.amount}}%</h4>
              </div>
              <h4 class="float-right text-red-700" v-show="_isDirty > 0">*You have unsaved changes*</h4>
              <button v-show="_isDirty > 0" @click="updateTierConfig"
                class="float-right  bg-blue-500 hover:bg-blue-700 text-white font-bold rounded px-2  py-1">
                  Save!
              </button>
            </div>
          </div>
        </header>
      </div>
      <div class="flex-1 overflow-auto" v-show="!zipCodeSearch">
        <main class="p-3 h-full w-full inline-flex overflow-hidden">
          <div class="w-1/4 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-1">
              <h3 class="flex-shrink-0 pt-3 px-3 text-sm font-medium text-gray-600 flex">
                <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <!-- use autocomplete disabled for the address fill to go away in chrome -->
                <input
                  type="search"
                  class="bg-transparent placeholder-gray-600 cursor-pointer px-2 bg-gray-200 rounded"
                  placeholder="States"
                  v-model="stateFilter"
                  autocomplete="disabled"
                />
                <!-- filters later on instead of toggle if needed-->
                <toggle-button
                  v-model="showStateLocks"
                  v-tooltip="{
                      content: 'Show Locked',
                      placement: 'bottom',
                      classes: ['bg-blue-400 p-4 z-10'],
                      offset: 1,
                      delay: {
                        show: 750,
                        hide: 200,
                      },
                    }"
                  class="ml-2 px-1 block"
                  color="#82C7EB"
                  :labels="{checked: 'Lock', unchecked: 'All'}"
                  :sync="true"
                  />
                <svg v-show="false"
                    class="h-6 ml-1 fill-current text-gray-600 cursor-pointer"
                    viewBox="0 0 28 28"
                    v-tooltip="{
                        content: 'Filter',
                        placement: 'bottom',
                        classes: ['bg-blue-400 p-4 z-10'],
                        offset: 1,
                        delay: {
                          show: 500,
                          hide: 200,
                        },
                      }"
                >
                <path :d="$icons.svgPaths.filter" />
                </svg>
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-2 pb-3 px-3">
                <li v-for="card in filteredStates" :key="card.name">
                  <AllocationCard
                    v-show="(showStateLocks && card.saved) || !showStateLocks || tierLoading"
                    :key="tierChangeKey"
                    v-bind:card="card"
                    @click.native="toggleActive(card, stateCards)"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="w-1/4 ml-3 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-1">
              <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-600">
                <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <input
                  type="search"
                  class="bg-transparent placeholder-gray-600 px-2 bg-gray-200 rounded"
                  :placeholder="placeholderCounties"
                  v-model="countyFilter"
                  autocomplete="disabled"
                />
                <!-- filters later on instead of toggle if needed-->
                <toggle-button
                  v-model="showCountyLocks"
                  v-tooltip="{
                      content: 'Show Locked',
                      placement: 'bottom',
                      classes: ['bg-blue-400 p-4 z-10'],
                      offset: 1,
                      delay: {
                        show: 750,
                        hide: 200,
                      },
                    }"
                  class="ml-2 px-1 block"
                  color="#82C7EB"
                  :labels="{checked: 'Lock', unchecked: 'All'}"
                  :sync="true"
                  />
                <svg v-show="false"
                    class="h-6 ml-1 fill-current text-gray-600 cursor-pointer"
                    viewBox="0 0 28 28"
                    v-tooltip="{
                        content: 'Filter',
                        placement: 'bottom',
                        classes: ['bg-blue-400 p-4 z-10'],
                        offset: 1,
                        delay: {
                          show: 500,
                          hide: 200,
                        },
                      }"
                >
                <path :d="$icons.svgPaths.filter" />
                </svg>
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-1 pb-3 px-3">
                <li v-for="card in filteredCounties" :key="card.name">
                  <AllocationCard
                    :key="tierChangeKey"
                    v-show="(showCountyLocks && card.saved) || !showCountyLocks || tierLoading"
                    v-bind:card="card"
                    @click.native="toggleActive(card, countyCards)"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="w-1/4 ml-3 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-1">
              <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-600">
                <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <input
                  type="search"
                  class="bg-transparent placeholder-gray-600 px-2 bg-gray-200 rounded"
                  v-model="zipFilter"
                  :placeholder="placeholderZips"
                  autocomplete="disabled"
                />
                <toggle-button
                  v-model="showZipLocks"
                  v-tooltip="{
                      content: 'Show Locked',
                      placement: 'bottom',
                      classes: ['bg-blue-400 p-4 z-10'],
                      offset: 1,
                      delay: {
                        show: 750,
                        hide: 200,
                      },
                    }"
                  class="ml-2 px-1 block"
                  color="#82C7EB"
                  :labels="{checked: 'Lock', unchecked: 'All'}"
                  :sync="true"
                  />
                  <!-- filters later on instead of toggle if needed-->
                <svg v-show="false"
                    class="h-6 ml-1 fill-current text-gray-600 cursor-pointer"
                    viewBox="0 0 28 28"
                    v-tooltip="{
                        content: 'Filter',
                        placement: 'bottom',
                        classes: ['bg-blue-400 p-4 z-10'],
                        offset: 1,
                        delay: {
                          show: 500,
                          hide: 200,
                        },
                      }"
                >
                <path :d="$icons.svgPaths.filter" />
                </svg>
              </h3>
              <svg
                class="mt-2 h-6 w-full fill-current text-hblue cursor-pointer float-right"
                viewBox="0 0 21 21"
                @click="zipCodeSearch = !zipCodeSearch"
                v-tooltip="{
                    content: 'Toggle Advanced Zip Search',
                    placement: 'bottom',
                    classes: ['bg-blue-400 p-4 z-10'],
                    offset: 1,
                    delay: {
                      show: 500,
                      hide: 200,
                    },
                  }"
              >
                <path :d="$icons.svgPaths.flip_back" />
              </svg>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-1 pb-3 px-3">
                <li v-for="card in filteredZipCodes" :key="card.name">
                  <AllocationCard v-bind:card="card"
                  :key="tierChangeKey" 
                  v-show="(showZipLocks && card.saved) || !showZipLocks || tierLoading"
                  @click.native="toggleActive(card, zipCards)" />
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
      <div class="flex-1 overflow-auto" v-show="zipCodeSearch">
        <main class="p-3 h-full w-full inline-flex overflow-hidden">
          <div class="w-11/12 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-2">
              <svg
                class="mt-3 h-6 w-12 ml-4 fill-current text-hblue cursor-pointer"
                viewBox="0 0 20 20"
                @click="zipCodeSearch = !zipCodeSearch"
                v-tooltip="{
                    content: 'Back to County Zips',
                    placement: 'right',
                    classes: ['bg-blue-400 p-4 z-10'],
                    offset: 1,
                    delay: {
                      show: 500,
                      hide: 200,
                    },
                  }"
              >
                <path :d="$icons.svgPaths.flip_front" />
              </svg>
              <h3 class="flex-shrink-0 pt-3 text-sm font-medium text-gray-600 flex">
                <svg class="h-5 w-8 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <!-- use autocomplete disabled for the address fill to go away in chrome -->
                <input
                  type="search"
                  class="w-full bg-transparent placeholder-gray-600 cursor-pointer px-2 bg-gray-200 rounded"
                  placeholder="Any Zip Search"
                  v-model="zipSearchFilter"
                  autocomplete="disabled"
                />
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-1 pb-3 px-3">
                <li
                  v-for="card in filteredZipSearches"
                  :key="card.name"
                  class="w-1/4 inline-block m-3"
                >
                  <AllocationCard
                    v-bind:card="card"
                    :key="tierChangeKey"
                    @click.native="toggleActive(card, zipSearchCards)"
                  />
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import AllocationCard from "../reuseable/AllocationCard";
import strings from "../../utils/strings";
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";
import AllocationMixin from '../../mixins/allocation'
import ModalHelp from '../modals/HelpDashboard'

export default {
  name: "Allocation",
  components: {
    AllocationCard
  },
  mixins: [ AllocationMixin ],
  data() {
    return {
      stateFilter: "",
      stateCards: [],
      countyCards: [],
      countyFilter: "",
      showStateLocks: false,
      showCountyLocks: false,
      showZipLocks: false
    };
  },
  computed: {
    filteredStates() { 
      return this.stateCards.filter(state => {
        return (
          state.name.toLowerCase().includes(this.stateFilter.toLowerCase()) ||
          state.abbreviation
            .toLowerCase()
            .includes(this.stateFilter.toLowerCase())
        );
      });
    },
    filteredCounties() {
      if (this.countyCards) {
        return this.countyCards.filter(county =>
          county.name.toLowerCase().includes(this.countyFilter.toLowerCase())
        );
      }
      return [];
    }
  },
  mounted() {
    
    GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_TITLE, 'Tiering Allocation View');

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_HELP_ICON_CLICKED, () => {
      //pivot 97% because this view will have an overflow-y
      this.$modal.show(ModalHelp, {}, { width: '70%', height: 'auto', scrollable: true, pivotX: .97 });
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_AUTOCOMPLETE_ITEM_SELECTED,item => {
      this.zipCodeSearch = false;
      if (item.stateInfo) {
        this.stateFilter = item.stateInfo.name;
        this.toggleActive(
          this.stateCards.find(c => c.name === item.stateInfo.name),
          this.stateCards
        );
        this.countyFilter = item.name;
        this.zipFilter = "";
        //have to select county a diff way due to autocomplete source and service being off with name
        if (this.filteredCounties.length === 1) {
          this.toggleActive(this.filteredCounties[0], this.countyCards);
        }
      } else {
        this.stateFilter = item.name;
        this.countyFilter = "";
        this.zipFilter = "";
        this.toggleActive(
          this.stateCards.find(c => c.name === item.name),
          this.stateCards
        );
      }
    });
  },
  methods: {
    toggleActive(card, cardArray) {
      if (card.activeCard) return; //user clicked on an already active card

      cardArray.forEach(card => {
        card.activeCard = false;
      });
      card.activeCard = true;

      switch (card.type) {
        case strings.ALLOCATION_CARD_TYPE.STATE:
          this.countyCards = [];
          this.zipCards = [];
          var counties = this.countiesByStateAbbr(card.abbreviation);
          counties.forEach(countyName => {
            this.countyCards.push({
              name: countyName,
              abbreviation: card.abbreviation,
              activeCard: false,
              tier: this.activeTier,
              type: strings.ALLOCATION_CARD_TYPE.COUNTY
            });
          });
          this.placeholderCounties = card.name + " Counties";
          this.placeholderZips = "Zip Codes";
          this.countyFilter = "";
          this.zipFilter = "";
          break;
        case strings.ALLOCATION_CARD_TYPE.COUNTY:
          this.zipCards = [];//make sure to zero out cards outside of dispatch or ui won't refresh properly
          this.$store
            .dispatch("geo/getZipCodesByCounty", {
              county: card.name,
              state: card.abbreviation
            })
            .then(() => {
              this.zipsByCountyStateAbbr(card.name, card.abbreviation).forEach(
                zip => {
                  this.zipCards.push({
                    name: zip,
                    abbreviation: card.abbreviation,
                    countyName: card.name,
                    activeCard: false,
                    tier: this.activeTier,
                    type: strings.ALLOCATION_CARD_TYPE.ZIP
                  });
                }
              );
              this.placeholderZips = card.name + " Zip Codes";
              this.zipFilter = "";
            });
          break;
        default:
          break;
      }
    }
  },
  destroyed() {
    GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_AUTOCOMPLETE_ITEM_SELECTED);
  }
};
</script>
