<template>
  <div class="h-screen relative bg-gray-100">
    <div class="absolute inset-0 z-10 w-full bg-gray-100 opacity-75" style="height:82px">
      <header class="w-10/12" style="margin-left: 260px">
        <div class="px-4 sm:px-6">
          <div class="flex items-center justify-between py-2">
              <div class="sm:flex sm:items-center w-3/4">
                <button  @click="reorderTiers"
                  v-tooltip="{
                    content: 'Click to reorder',
                    placement: 'right',
                    classes: ['bg-blue-400 p-4 z-10'],
                    offset: 1,
                    delay: {
                      show: 500,
                      hide: 200,
                    },
                  }" 
                class="bg-blue-500 hover:bg-blue-700 ml-2 text-white font-bold py-2 px-4 rounded-full">
                  {{activeTier.ordinal}}
                </button>
                <input
                    type="text"
                    class="w-1/5 px-2 py-1 border border-gray-400 rounded-lg ml-2"
                    placeholder="Enter a tier name"
                    v-model="activeTierName"
                    v-on:blur="updateTierName"
                  />
                <h3 class="pl-3 text-lg font-semibold text-gray-900 leading-tight" :class="activeTierPostChargeOff ? 'opacity-25' : 'opacity-100'">Duration</h3>
                <div class="mt-1 flex items-center sm:mt-0 sm:ml-3" :class="activeTierPostChargeOff ? 'opacity-25' : 'opacity-100' "
                  v-tooltip="{
                    content: 'Duration is not used for the final tier before post charge off.</br>RDN will transition a case to the next tier when a charge off is triggered by the system.',
                    placement: 'bottom',
                    classes: [activeTierPostChargeOff ? 'bg-blue-400 p-4 z-10 text-sm' : 'opacity-0'],
                    offset: 1,
                    delay: {
                      show: 200,
                      hide: 200,
                    },
                  }">
                  <input :disabled="activeTierPostChargeOff"
                    v-model="activeTierDuration"
                    type="text"
                    class="w-12 px-2 py-1 border border-gray-400 rounded-lg"
                    placeholder="30"
                  />
                  <h4 class="pl-2">days</h4>
                </div>
                <toggle-button
                  @change="pcoChanged"
                  v-model="activeTierPostChargeOff"
                  v-tooltip="{
                      content: 'Charge Off',
                      placement: 'bottom',
                      classes: ['bg-blue-400 p-4 z-10'],
                      offset: 1,
                      delay: {
                        show: 500,
                        hide: 200,
                      },
                    }"
                  class="ml-2 px-1 block"
                  color="#82C7EB"
                  :labels="{checked: 'Post', unchecked: 'Pre'}"
                  :sync="true"
                  />
                <h3 class="ml-2 text-md font-bold font-semibold text-gray-900 leading-tight"
                  v-tooltip="{
                    content: 'United States Allocation',
                    placement: 'bottom',
                    classes: ['bg-blue-400 p-4 z-10'],
                    offset: 1,
                    delay: {
                      show: 500,
                      hide: 200,
                    },
                  }">
                  USA
                </h3>
                <v-popover offset="1">
                  <svg class="h-5 w-5 text-gray-700 fill-current mt-1 ml-2 cursor-pointer" viewBox="0 0 24 24">
                    <path :d="$icons.svgPaths.edit" />
                  </svg>
                  <template slot="popover">
                    <AllocationCard style="width:310px" :key="tierChangeKey"
                      :card="nationCard"
                    />
                  <!-- <a v-close-popover>Close</a> -->
                  </template>
                </v-popover>
                <h4 class="pl-2 text-md" v-for="alloc in nationAllocation" :key="alloc.udbsaid">
                  {{truncate(alloc.name, 5)}}  {{alloc.amount}}%
                </h4>
              </div>
              <h4 class="float-right text-red-700" v-show="_isDirty > 0">
                  *You have unsaved changes*
              </h4>
              <button v-show="_isDirty > 0" @click="updateTierConfig"
                class="float-right  bg-blue-500 hover:bg-blue-700 text-white font-bold rounded px-2  py-1">
                  Save!
              </button>
            </div>
        </div>
        <!-- <p>
          First marker is placed at {{ withPopup.lat }}, {{ withPopup.lng }}
        </p> -->
        <button v-show="!showCounty" class="ml-10 text-blue-600 font-bold" @click="toggleCountyStates">View Counties</button>
        <button v-show="showCounty" class="ml-10 text-blue-600 font-bold" @click="toggleCountyStates">View States</button>
        <p class="mr-6 float-right">
            Center {{ currentCenter }}, Current Zoom {{ currentZoom }}
        </p>
      </header>
      </div>
    <div class="absolute inset-0 left-0 z-10 w-1/6 pr-1">
      <main class="h-full w-64 inline-flex overflow-hidden">
        <div class="w-full flex-shrink-0 flex flex-col" v-show="!zipCodeSearch">
          <div class="flex inline-block">
          <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 mr-8 text-sm font-medium text-gray-700 w-32"> 
            <svg class="h-5 w-5 text-gray-700 fill-current" viewBox="0 0 25 25">
              <path :d="$icons.svgPaths.search" />
            </svg>
            <input
              type="search"
              class="bg-transparent placeholder-gray-700 px-2 border rounded-lg focus:outline-none"
              v-model="zipFilter"
              :placeholder="placeholderZips"
              autocomplete="disabled" 
            />
          </h3>
          <toggle-button
            v-model="showZipLocks"
            v-tooltip="{
                content: 'Show locked',
                placement: 'bottom',
                classes: ['bg-blue-400 p-4 z-10'],
                offset: 1,
                delay: {
                  show: 750,
                  hide: 200,
                },
              }"
            class="ml-1 mr-2 block mt-3"
            color="#82C7EB"
            :labels="{checked: 'LK', unchecked: 'All'}"
            :sync="true"
            />
          <svg
              class="mt-2 h-6 w-6 fill-current text-hblue cursor-pointer float-right"
              viewBox="0 0 22 22"
              @click="zipCodeSearch = !zipCodeSearch"
              v-tooltip="{
                  content: 'Toggle Advanced Zip Search',
                  placement: 'bottom',
                  classes: ['bg-blue-400 p-4 z-10'],
                  offset: 1,
                  delay: {
                    show: 500,
                    hide: 0,
                  },
                }"
            >
              <path :d="$icons.svgPaths.flip_back" />
            </svg>
          </div>  
          <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="pt-1 pb-3 px-3">
              <li v-for="card in filteredZipCodes" :key="card.name">
                <AllocationCard
                  :key="tierChangeKey"
                  v-show="(showZipLocks && card.saved) || !showZipLocks || tierLoading"
                  v-bind:card="card" v-bind:truncate_length="9"
                  @click.native="toggleActive(card, zipCards)"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full flex-shrink-0 flex flex-col" v-show="zipCodeSearch">
          <div class="flex inline-block">
          <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-700"> 
            <svg class="h-5 w-5 text-gray-700 fill-current" viewBox="0 0 25 25">
              <path :d="$icons.svgPaths.search" />
            </svg>
            <input
              type="search"
              class="bg-transparent placeholder-gray-700 px-2 border rounded-lg"
              v-model="zipSearchFilter"
              placeholder="Any Zip Code"
              autocomplete="disabled" 
            />
          </h3>
          <svg
              class="mt-3 h-6 w-6 fill-current text-hblue cursor-pointer float-right"
              viewBox="0 0 22 22"
              @click="zipCodeSearch = !zipCodeSearch"
              v-tooltip="{
                  content: 'Back to County Zips',
                  placement: 'bottom',
                  classes: ['bg-blue-400 p-4 z-10'],
                  offset: 1,
                  delay: {
                    show: 500,
                    hide: 0,
                  },
                }"
            >
              <path :d="$icons.svgPaths.flip_front" />
            </svg>
          </div>  
          <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="pt-1 pb-3 px-3">
              <li v-for="card in filteredZipSearches" :key="card.name">
                <AllocationCard
                  :key="tierChangeKey"
                  v-bind:card="card" v-bind:truncate_length="9"
                  @click.native="toggleActive(card, zipSearchCards)"
                />
              </li>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <div class="absolute overflow-x-auto inset-0 z-0" style="left: 255px">
      <l-map
        v-if="showMap"
        :zoom="zoom"
        :center="center"
        :options="mapOptions"
        @update:center="centerUpdate"
        @update:zoom="zoomUpdate"> 
       
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-geo-json
        v-if="show"
        :geojson="geojson"
        :options="options"
        :options-style="styleFunction"/>
      </l-map>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { latLng } from "leaflet";
import { LMap, LTileLayer, LGeoJson } from "vue2-leaflet";
import county_json from '../../assets/geojson/counties_small.json'
import state_json from '../../assets/geojson/states_small.json'
import state_mapping from  '../../assets/geojson/state_mapping.json'
//import "../../../node_modules/leaflet/dist/leaflet.css";
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";
import AllocationCard from "../reuseable/AllocationCard";
import strings from "../../utils/strings"
import AllocationMixin from '../../mixins/allocation'
import ModalHelp from '../modals/HelpDashboard'

//geo_json from https://eric.clst.org/tech/usgeojson/

export default {
  name: "app",
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    AllocationCard //eslint-disable-line
  },
  mixins: [ AllocationMixin ],
  data() {
    return {
      activeMapLayers: {},
      activeMapCards: {},
      lastLayer: null,
      showZipLocks: false,
      zoom: 5,
      center: latLng(34.216345, -92.790527),
      geojson: state_json,
      showCounty: false,
      url: "https://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
      withPopup: latLng(47.41322, -1.219482),
      withTooltip: latLng(47.41422, -1.250482),
      currentZoom: 11.5,
      fillColor: "#ECEFF1", //this is the stroke outline
      currentCenter: latLng(47.41322, -1.219482),
      show: true,
      layersPosition: "bottomleft",
      enableTooltip: true,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true,
      showParagraph: false,
      stuff: [
        {
          id: "s1",
          visible: true,
          markersVisible: true
        }
      ]
    };
  },
  computed: {
    options() {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
    styleFunction() {
      const fillColor = this.fillColor; // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 2,
          color: fillColor,
          opacity: 1,
          fillColor: '#e9d8fd',
          fillOpacity: .7
        };
      };
    },
    onEachFeatureFunction() {
      return (feature, layer) => {

        let abbr = state_mapping[feature.properties.STATE].abbreviation;
        this.activeMapLayers[feature.properties.NAME+abbr] = layer;//eslint-disable-line
        
        layer.name = feature.properties.NAME;
        layer.abbreviation = abbr;
        let Card = Vue.extend(AllocationCard);
        let popup = new Card({
          propsData: {
            card: { name: feature.properties.NAME, abbreviation: abbr, tier: this.activeTier,
              type: this.showCounty ? strings.ALLOCATION_CARD_TYPE.COUNTY : strings.ALLOCATION_CARD_TYPE.STATE, activeCard: true },
              css_style: 'width: 310px; min-height: 10px;',
              percent_p_style: 'margin-top:6px',
              percent_rm_style: 'padding-top:10px'
            },
          store: this.$store, //need to inject the global vuex store obj due to this popup extension
        });
        //keep a reference to these popups to control the lifecycle - destroy does not adhere to vuejs when in this layer and bindpopup
        this.activeMapCards[feature.properties.NAME+abbr] = popup;//eslint-disable-line
        this.generateTooltip(layer, this.showCounty ? strings.ALLOCATION_CARD_TYPE.COUNTY : strings.ALLOCATION_CARD_TYPE.STATE)

        layer.on('click', () =>{
          layer.bindPopup(popup.$mount().$el);
          layer.openPopup();
          layer.setStyle({
            fillColor: '#cc0000',
            weight: 2
          });
          //make sure last layer selected, and last layer is not same due to search result before resetting selected color
          if(this.lastLayer && this.lastLayer !== layer){
            this.lastLayer.setStyle({
              fillColor: this.lastLayer.lastColor || this.getColor(),
              weight: 2
            });
          }
          this.lastLayer = layer; //eslint-disable-line
          if(this.showCounty){
            //load the zip codes for the county selected on the sidebar 
            this.loadCountyZipCodes(layer.name, layer.abbreviation);
          }
        });

      };
    }
  },
  mounted(){

    GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_TITLE, 'Tiering Management Dashboard');

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_HELP_ICON_CLICKED, () => {
      //pivot 97% because this view will have an overflow-y
      this.$modal.show(ModalHelp, {}, { width: '70%', height: 'auto', scrollable: true, pivotX: .97 });
    });

    const offset = .25;
    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_AUTOCOMPLETE_ITEM_SELECTED, (item) => {
      this.zipCodeSearch = false;
      if(item.lat && item.lng){
        //reposition the map based on what the user searched
        this.showCounty = item.stateInfo ? true : false;
        this.geojson = this.showCounty ? county_json : state_json;
        this.center = latLng(item.lat+offset,item.lng);
        this.zoom = this.showCounty ? 7 : 6;
        let timeout = 50; //50ms
        setTimeout(() => {
          let l = this.activeMapLayers[item.name+state_mapping[item.state].abbreviation];
          if(l){
            l.setStyle({
              fillColor: '#cc0000',
              weight: 2
            });
            l.fire('click');
          }
          //make sure last layer selected, and last layer is not same due to search result before resetting selected color
          if(this.lastLayer && this.lastLayer !== l){
            this.lastLayer.setStyle({
              fillColor: this.lastLayer.lastColor || this.getColor(),
              weight: 2
            });
          }
          this.lastLayer = l;
        }, timeout)
      }
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED, (card) => {
      if(card.type === strings.ALLOCATION_CARD_TYPE.STATE || card.type === strings.ALLOCATION_CARD_TYPE.COUNTY){
        this.generateTooltip(this.activeMapLayers[card.name+card.abbreviation], card.type);
      } else if(card.type === strings.ALLOCATION_CARD_TYPE.NATION){
        Object.keys(this.activeMapCards).forEach(k => { 
          this.generateTooltip(this.activeMapLayers[k],this.activeMapCards[k].card.type)
      });
      }
    });

  },
  methods: {
    reloadMapCardLayerData(){
      Object.keys(this.activeMapCards).forEach(k => { 
        this.activeMapCards[k].card.tier = this.activeTier;
        this.activeMapCards[k].loadAllocations()
        this.generateTooltip(this.activeMapLayers[k],this.activeMapCards[k].card.type)
      });
    },
    generateTooltip(layer, cardType){
      if(layer){
        if(this.activeTier) {
          let rules = this.getAllocationRule({ tier: this.activeTier, name: layer.name, 
            abbreviation:layer.abbreviation, type: cardType });
          let text = '';
          let count = 0;
          rules.allocations.forEach(alloc => {
            if(alloc.ubdsaid !== 'err!') { count++; }
            text += `<br>${alloc.name}: ${alloc.amount}%`
          });
          //default color based on allocations count
          //save off default color to change back after user deselects
          let color = this.getColor(count);
          layer.lastColor = color; 
          layer.setStyle({
            //color: rules.loadedParentRules ? this.fillColor: "#44337a" : this.fillColor,
            fillColor: color,
            weight: 2
          });
          layer.bindTooltip(
             `<div class="text-sm">
              ${this.showCounty ? layer.name + ', ' + layer.abbreviation : layer.name}
              ${text}
              </div>`,
            { permanent: false, sticky: true });
        } else {
          layer.bindTooltip(
            `<div>
            ${this.showCounty ? layer.name + ', ' + layer.abbreviation : layer.name}
            </div>`,
          { permanent: false, sticky: true });
        }
      }
    },
    iconClick(ev){
      console.log(ev); //eslint-disable-line
    },
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },
    centerUpdate(center) {
      this.currentCenter = center;
    },
    toggleCountyStates() {
      this.showCounty = !this.showCounty;
      this.geojson = this.showCounty ? county_json : state_json;
    },
    loadCountyZipCodes(countyName, stateAbbr){
      this.zipCards = []; //make sure to zero out cards outside of dispatch or ui won't refresh properly
      this.$store.dispatch("geo/getZipCodesByCounty", { county: countyName, state: stateAbbr })
        .then(() => { 
          this.zipsByCountyStateAbbr(countyName,stateAbbr).forEach(zip => {
            this.zipCards.push({ tier: this.activeTier, name: zip, abbreviation: stateAbbr, countyName: countyName, activeCard: false, type: strings.ALLOCATION_CARD_TYPE.ZIP })
          })
          this.placeholderZips = countyName + ' Zip Codes';
          this.zipFilter = "";    
        }); 
    },
    innerClick() {
      alert("Click!");
    },
    getColor(count) {
      switch(count){
        case 0:
          return "#faf5ff";
        case 1:
          return "#d6bcfa";
        case 2:
          return "#b794f4";
        case 3:
          return "#805ad5";
        case 4:
          return "#553c9a";
        default:
          return "#44337a";
      }
      //preserve old palette
      //switch(Math.ceil(Math.random()*9)){
      /*switch(count){
        case 0:
          return "#faf5ff";
        case 1:
          return "#e9d8fd";
        case 2:
          return "#d6bcfa";
        case 3:
          return "#b794f4";
        case 4:
          return "#9f7aea";
        case 5:
          return "#805ad5";
        case 6:
          return "#6b46c1";
        case 7:
          return "#553c9a";
        default: return "#44337a";
      }*/
    }
  },
  beforeDestroy(){
    GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_AUTOCOMPLETE_ITEM_SELECTED);
    GlobalEventBus.$off(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED);
    Object.keys(this.activeMapCards).forEach(k => {  
      //if a popup was instantiated because user clicked, then it will have an unwatch set
      if(this.activeMapCards[k].unwatch){ 
        this.activeMapCards[k].unwatch();
      } 
    });
  }
};
</script>

<style> /* overwrite that leaflet popup crap messing with our styles */

@import 'https://unpkg.com/leaflet@1.6.0/dist/leaflet.css';

.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-container {
  font: inherit;
}

.leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
}

.leaflet-popup-tip { /*  this is the white arrow pointing to the popup */
  background: transparent;
  display:none;
}

.leaflet-top { /*  hides the default top left zoom in zoom out control behind the top header */
  margin-top: 75px;
}

</style>