<template>
  <div class="overflow-y-auto">
    <main v-for="entry in logs" :key="entry.id" class="w-11/12">
      <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      </div>
      <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <p class="text-sm text-gray-600 flex items-center">
            <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
            </svg>
            Administrator
          </p>
          <div class="text-gray-900 font-bold text-xl mb-2">{{entry.description}} configuration</div>
          <p class="text-gray-700 text-base"><pre>{{entry.long}}</pre></p>
        </div>
        <div class="items-center">
          <button class="left-0 text-blue-600 font-bold" @click="viewDetails(entry)">View Details</button>
          <br>
          <div class="text-sm inline-flex">
            <avatar :username="entry.causer_name"></avatar>
            <div class="ml-2 mt-2">
              <p class="text-gray-900 leading-none">{{entry.causer_name}}</p>
              <p class="text-gray-600">{{entry.created_at | moment("dddd, MMM Do YYYY - h:mm:ss a")}}</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- <main v-for="entry in history" :key="entry.id" class="w-11/12" v-show="false">
      <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
      </div>
      <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <p class="text-sm text-gray-600 flex items-center">
            <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
            </svg>
            {{entry.role}}
          </p>
          <div class="text-gray-900 font-bold text-xl mb-2">{{entry.title}}</div>
          <p class="text-gray-700 text-base">{{entry.description}}</p>
        </div>
        <div class="flex items-center">
          <img class="w-10 h-10 rounded-full mr-4" :src="entry.img">
          <div class="text-sm">
            <p class="text-gray-900 leading-none">{{entry.name}}</p>
            <p class="text-gray-600">{{entry.date}}</p>
          </div>
        </div>
      </div>
    </main> -->
  </div>
</template>

<script>
import diff from 'deep-diff';
import HistoryMixin from '../../mixins/history'
import ModalDiff from "../modals/HistoryDiff";
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";

export default {
  name: "History",
  mixins: [ HistoryMixin ],
  mounted() {
    GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_TITLE, 'History & Audit Log');
    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_HELP_ICON_CLICKED, () => {
      this.toast(`Click on view details for any of the historical log entries to see more details.`);
    });
    this.$store.dispatch("tiers/getHistory")
      .then(list => { 
        this.logs = list;
        this.getLongDesc();
      });
  },
  methods: {
    viewDetails(entry) {
      this.$modal.show(
        ModalDiff,
        { entry: { ...entry } },
        { width: "70%", height: "auto", scrollable: true }
      );
    },              
    getLongDesc(){
      this.logs.forEach((entry, index) => {
        this.$set(this.logs[index], 'long', '');
        if (index < 5) {
          this.$store.dispatch("tiers/getHistoryById", entry.id)
          .then(history => { 
            entry.properties = history.properties;
            if(entry.properties.old){ //updated event
              var diffs;
              if(entry.properties?.old?.tiers && entry.properties?.attributes?.tiers){
                diffs = diff(entry.properties.old.tiers, entry.properties.attributes.tiers);
                if(diffs && diffs.length > 0){
                  entry.long = `${diffs.length} modifications applied to configuration.`;
                  //just preview the first change - user can click on view details to see the whole list
                  var path = [...diffs[0].path];
                  var s = 'Changes: '
                  for(var i = 1; i < path.length; i++){
                    s = s + this.getNameForPath(path[i]);
                    if(i != path.length){ s = s + ' -> ' }
                  }
                  s = s + `from ${diffs[0].lhs} to ${diffs[0].rhs}`
                  entry.long = entry.long + '\n' + s + '\n...';
                }
              } else {
                entry.long = '...view details to load';
              }
            } else {
              if(entry.properties.attributes?.tiers){
                diffs = diff([{}], entry.properties.attributes.tiers);
                if(diffs && diffs.length > 0){
                  entry.long = `${diffs.length} additions to ${entry.properties.attributes.tiers.length} tiers.\n`;  
                }
                entry.properties.attributes.tiers.forEach((tier, idx) => {
                  if(idx < 3){
                    entry.long = entry.long + 'Added ' + tier.name + '\n';
                  }
                });
                entry.long = entry.long + '...';
              } else {
                entry.long = '...view details to load';
              }
            }
          })
          .catch(() => {
            entry.long = '...view details to load';
          })
        } else {
          entry.long = '...view details to load';
        }
      })
    }
  },
  destroyed() {
    GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_HELP_ICON_CLICKED);
  }
};
</script>
