<template>
  <div class="bg-red-200">
    <h1>Test Module</h1>
    <h1>After some redesign changes, we probably don't need this page, more of a vue playground - will remove later</h1>
    {{ _tierConfig[0]._id }}
    <div class="relative">
    <button @click="isOpen = !isOpen" 
      class="bg-gray-100 relative z-10 block overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-white">
      State/Counties Vuex Test
    </button>
    <button v-if="isOpen" @click="isOpen = false" tabindex="-1" 
      class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default"></button>
    <div v-if="isOpen" class="absolute mt-2 py-2 w-48 bg-white rounded-lg shadow-xl" style="left:255px">
      <a v-for="item in testDropdown" :key="item.display" @click="testSelection(item)" 
        class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">{{item.display}}</a>
    </div>
  </div>
  <div class="test">
    <ul>
      <li v-for="f in selectedForwarders" :key="f.udbsaid">
        {{ f.udbsaid }} - {{ f.name }}
      </li>
    </ul>
    <ul>
      <li v-for="zip in selectedZips" :key="zip">
        {{ zip }}
      </li>
    </ul>
  </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import AllocationCard from "../reuseable/AllocationCard";
import strings from "../../utils/strings"

export default {
  name: "TierConfiguration",
  created(){
    this.selectedStateAbbr = 'NV'; //by setting in created() and not data(), watcher will fire
    const handleEscape = (e) => {
      if (e.key === 'Esc' || e.key === 'Escape') {
        this.isOpen = false
      }
    }
    document.addEventListener('keydown', handleEscape)
    this.$once('hook:beforeDestroy', () => {
      document.removeEventListener('keydown', handleEscape)
    })
  },
  data(){
    return {
      testDropdown: [
        {state: 'NV', display: 'Nevada'},
        {state: 'CA', display: 'California'},
        {state: 'OR', display: 'Oregon'},
        {state: 'NV', county: 'Washoe', display: 'Washoe, NV'},
        {state: 'NV', county: 'Clark', display: 'Clark, NV'},
        {zip: '89521', display: '89521'}
      ],
      selectedStateAbbr: '',
      selectedCounty: 'Washoe',
      isOpen: false,
      selectedItem: {}
    }
  },
  computed: {
    selectedForwarders() {
       if(this.selectedItem.county){
        return this.forwardersByCountyStateAbbr(this.selectedItem.county, this.selectedItem.state);  
      } else if(this.selectedItem.state){
        return this.forwardersByStateAbbr(this.selectedItem.state);
      } else {
        return this._selectedForwardersByZip;
      }
    },
    selectedZips() {
      return this.zipsByCountyStateAbbr(this.selectedCounty,this.selectedStateAbbr);
    },
    selectedCounties(){
      return this.countiesByStateAbbr(this.selectedStateAbbr);
    },
    ...mapState({
      _states: state => state.geo.states,
      _selectedForwardersByZip: state => state.entities.forwardersByZip,
      _tierConfigs: state => state.tiers.configs
    }),
    ...mapGetters("geo", {
      countiesByStateAbbr: "countiesByStateAbbr",
      zipsByCountyStateAbbr: "zipsByCountyStateAbbr"
    }),
    ...mapGetters("entities", {
      forwardersByStateAbbr: "forwardersByStateAbbr",
      forwardersByCountyStateAbbr: "forwardersByCountyStateAbbr",
      vendorsByStateAbbr: "vendorsByStateAbbr",
      vendorsByCountyStateAbbr: "vendorsByCountyStateAbbr"
    }),
  },
  methods: {
    testSelection(item) {
      this.selectedItem = item;
      this.$toasted.show("Selection changed " + item.display, { duration : 2000 });
      if(item.county){
        this.$store.dispatch("entities/getForwardersByCountyStateAbbr", { county: item.county, state: item.state })
      }  else if(item.state){
        this.$store.dispatch("entities/getForwardersByStateAbbr", { state: item.state })
      } else{
        this.$store.dispatch("entities/getForwardersByZipCode", { postal_code: item.zip });
      }
      this.isOpen = false;
    },
    copyTier(){
      this.$modal.show('dialog', {
        title: 'VUE - Test Dialog',
        component: AllocationCard,
        props: {
          card: { name: 'For now, enjoy this popup.', abbreviation: 'NV',
              type: strings.ALLOCATION_CARD_TYPE.STATE, activeCard: true,
              css_style: 'width: 260px; min-height: 10px;',
              percent_p_style: 'margin-top:6px'
            }
        },
        text: 'Hello world 🤪',
        buttons: [
          {
            title: 'C💩NCEL',
            handler: () => {
              this.$modal.hide('dialog')
            }
          },
          {
            title: 'OH YEAH!',
            default: true,
            handler: () => {
              alert('Nothing to see here bro.')
              this.$modal.hide('dialog')
            }
          },
          {
            title: '3rd Button',
            handler: () => {
              alert('I am Number 3.')
            }
          }
        ]
      });
    },
  }
};
</script>
