<template>
  <div class="h-screen flex">
    <div class="flex-1 min-w-0 flex flex-col bg-gray-100">
      <div class="flex-shrink-0 sm:border-b-1 sm:border-gray-500 bg-gray-300">
        <header>
          <div class="px-4 sm:px-6">
            <div class="flex items-center justify-between py-2">
              <div class="sm:flex sm:items-center w-3/4" v-show="!activeTier">
                <h1 class="font-bold py-2 px-4">
                  Please selected a vendor from the list below.
                </h1>
              </div>
              <div class="sm:flex sm:items-center w-3/4" v-show="activeTier">
                <h1 class="font-bold py-2 px-4">
                  T{{activeTier.ordinal}}: {{activeTierName}}
                </h1>
                <h1 class="py-2 px-4" v-show="!activeTierPostChargeOff">
                  Duration: {{activeTierDuration}} days
                </h1>
                <h1 class="py-2 px-4" v-show="activeTierPostChargeOff">
                  Duration: Until Charge Off
                </h1>
                <h3
                  class="ml-2 text-md font-bold font-semibold text-gray-900 leading-tight"
                  v-tooltip="{
                    content: 'United States Allocation',
                    placement: 'bottom',
                    classes: ['bg-blue-400 p-4 z-10'],
                    offset: 1,
                    delay: {
                      show: 500,
                      hide: 200,
                    },
                  }"
                >USA Rule:</h3>
                <!-- don't allow any major tier edits in this view -->
                <v-popover offset="1" ref="usaCard">
                  <svg
                    class="h-5 w-5 text-gray-700 fill-current mt-1 ml-2 cursor-pointer"
                    viewBox="0 0 24 24"
                  >
                    <path :d="$icons.svgPaths.edit" />
                  </svg>
                  <template slot="popover">
                    <AllocationCard :key="tierChangeKey" style="width:310px" :card="nationCard"  />
                    <!-- <a v-close-popover>Close</a> -->
                  </template>
                </v-popover>
                <h4 
                  class="pl-2 text-md"
                  v-for="(alloc, index) in nationAllocation"
                  :key="index"
                >{{truncate(alloc.name, 7)}} {{alloc.amount}}%</h4>
              </div>
              <h4 class="float-right text-red-700" v-show="_isDirty > 0">*You have unsaved changes*</h4>
              <button v-show="_isDirty > 0" @click="updateTierConfig"
                class="float-right  bg-blue-500 hover:bg-blue-700 text-white font-bold rounded px-2  py-1">
                  Save!
              </button>
            </div>
          </div>
        </header>
      </div>
      <div class="flex-1 overflow-auto">
        <main class="p-3 h-full w-full inline-flex overflow-hidden">
          <div class="w-1/4 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-1">
              <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-600 w-full">
                <input
                  v-model="vendorFilter"
                  type="search"
                  class="bg-transparent placeholder-gray-600 px-2 bg-gray-200 rounded w-5/6"
                  placeholder="Filter vendors with allocations"
                  autocomplete="disabled"
                />
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-1 pb-3 px-3">
                <li v-for="vendor in filteredVendors" :key="vendor.udbsaid">
                  <a class="pl-0 block bg-white rounded-lg mt-2"
                    @click="selectVendor(vendor)">
                    <div
                    :class="[ vendor.activeCard ? 'flex justify-between rounded-t-lg cursor-pointer bg-orange-500' 
                    : 'flex justify-between bg-cardhead rounded-t-lg cursor-pointer hover:bg-orange-500']">
                      <p class="px-4 py-2 block text-md font-medium leading-snug text-white">
                      {{ vendor.name }}
                      </p>
                    </div>
                    <div class="flex text-sm text-gray-600" >
                      <div class="w-screen pl-5 pr-20">
                        <p class="inline-block max-w-xs px-4 p-1 w-full" style="border-bottom: 1px solid #e2e8f0">
                          {{tiersPresent(vendor)}}<br>{{getEntityContent(vendor.type)}}</p>
                      </div>
                    </div>
                    <div v-for="(alloc, index) in aggregatedAllocations(vendor)" :key="index"
                      class="flex text-sm text-gray-600" >
                      <div class="w-4/5">
                        <svg v-on:click="removeAllocations(alloc, vendor)" class="h-5 w-5 inline-block ml-3 cursor-pointer fill-current text-gray-600" viewBox="0 0 18 18">
                          <path :d="$icons.svgPaths.minus_circle" />
                        </svg>
                        <p class="inline-block max-w-xs px-4 py-2">
                          {{ alloc.text }}</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-1/4 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg ml-3">
            <div class="flex inline-block mb-1">
              <h3 class="flex-shrink-0 pt-3 px-3 text-sm font-medium text-gray-600 flex">
                <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <!-- use autocomplete disabled for the address fill to go away in chrome -->
                <input
                  type="search"
                  class="bg-transparent placeholder-gray-600 cursor-pointer px-2 bg-gray-200 rounded"
                  placeholder="Assigned States"
                  v-model="stateFilter"
                  autocomplete="disabled"
                />
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-2 pb-3 px-3">
                <li v-for="card in filteredStates" :key="card.name">
                  <AllocationCard
                    :key="tierChangeKey"
                    v-bind:card="card"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="w-1/4 ml-1 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-1">
              <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-600">
                <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <input
                  type="search"
                  class="bg-transparent placeholder-gray-600 px-2 bg-gray-200 rounded"
                  placeholder="Assigned Counties"
                  v-model="countyFilter"
                  autocomplete="disabled"
                />
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-1 pb-3 px-3">
                <li v-for="card in filteredCounties" :key="card.name">
                  <AllocationCard
                    :key="tierChangeKey"
                    v-bind:card="card"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="w-1/4 ml-1 flex-shrink-0 flex flex-col bg-gray-300 rounded-lg">
            <div class="flex inline-block mb-1">
              <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-600">
                <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
                  <path :d="$icons.svgPaths.search" />
                </svg>
                <input
                  type="search"
                  class="bg-transparent placeholder-gray-600 px-2 bg-gray-200 rounded"
                  v-model="zipFilter"
                  placeholder="Assigned Zip Codes"
                  autocomplete="disabled"
                />
              </h3>
            </div>
            <div class="flex-1 min-h-0 overflow-y-auto">
              <ul class="pt-1 pb-3 px-3">
                <li v-for="card in filteredZipCodes" :key="card.name">
                  <AllocationCard v-bind:card="card"
                  :key="tierChangeKey" />
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import AllocationCard from "../reuseable/AllocationCard";
import strings from "../../utils/strings";
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";
import AllocationMixin from '../../mixins/allocation'
import ModalHelp from '../modals/HelpVendors'

export default {
  name: "Vendors",
  components: {
    AllocationCard
  },
  mixins: [ AllocationMixin ],
  data() {
    return {
      vendorFilter: "",
      stateFilter: "",
      countyFilter: "",
      vendorCards: [ {name: 'Loading...', udbsaid: '-1', type: 'Vendor', allocations: [], activeCard: false}],
      vendorAssignedStateCards: [],
      vendorAssignedCountyCards: [],
      vendorAssignedZipCards: []
    };
  },
  computed: {
    filteredVendors() { 
      return this.vendorCards.filter(v => 
        v.name.toLowerCase().includes(this.vendorFilter.toLowerCase()) &&
        v.allocations.findIndex(a => a.tier.name === this.activeTier.name) > -1
      ).sort((v1, v2) => v1.name < v2.name ? -1 : (v1.name > v2.name ? 1 : 0 ));
    },
    filteredStates() { 
      return this.vendorAssignedStateCards.filter(state => {
        return (
          state.name.toLowerCase().includes(this.stateFilter.toLowerCase()) ||
          state.abbreviation
            .toLowerCase()
            .includes(this.stateFilter.toLowerCase())
        );
      });
    },
    filteredCounties() {
      if (this.vendorAssignedCountyCards) {
        return this.vendorAssignedCountyCards.filter(county =>
          county.name.toLowerCase().includes(this.countyFilter.toLowerCase())
        );
      }
      return [];
    },
    filteredZipCodes() {
      if (this.vendorAssignedZipCards) {
        return this.vendorAssignedZipCards.filter(zip =>
          zip.name.toLowerCase().includes(this.zipFilter.toLowerCase())
        );
      }
      return [];
    }
  },
  mounted() {

    //using global event bus and not parent-child because the nation card is a special case in a v-popover
    GlobalEventBus.$on(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED, () => {
      this.vendorCards = this.getVendorAllocations();
    });

    GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_TITLE, 'Manage Allocated Vendors');
    //not using the search bar in this view
    GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_SEARCH_VISIBILITY, false);
    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_HELP_ICON_CLICKED, () => {
      //pivot 97% because this view will have an overflow-y
      this.$modal.show(ModalHelp, {}, { width: '70%', height: 'auto', scrollable: true, pivotX: .97 });
    });

    this.$store.dispatch("tiers/getTierConfiguration").then(() => {
      this.vendorCards = this.getVendorAllocations();
    });
  },
  methods: {
    aggregatedAllocations(vendor) {
      let allocs = [{ text: vendor.allocations.length + ' Total Allocations ', type: strings.ALLOCATION_CARD_TYPE.TOTAL}];
      let nation = vendor.allocations?.filter(a => a.type === strings.ALLOCATION_CARD_TYPE.NATION)
      if(nation.length > 0){
        allocs.push({ text: nation.length + ' National', type: strings.ALLOCATION_CARD_TYPE.NATION})
      }
      let state = vendor.allocations?.filter(a => a.type === strings.ALLOCATION_CARD_TYPE.STATE)
      if(state.length > 0){
        allocs.push({ text: state.length + ' State', type: strings.ALLOCATION_CARD_TYPE.STATE})
      }
      let county = vendor.allocations?.filter(a => a.type === strings.ALLOCATION_CARD_TYPE.COUNTY)
      if(county.length > 0){
        allocs.push({ text: county.length + ' County', type: strings.ALLOCATION_CARD_TYPE.COUNTY})
      }
      let zip = vendor.allocations?.filter(a => a.type === strings.ALLOCATION_CARD_TYPE.ZIP)
      if(zip.length > 0){
        allocs.push({ text: zip.length + ' Zip Code', type: strings.ALLOCATION_CARD_TYPE.ZIP})
      }
      return allocs;
    },
    getEntityContent(type){
      return strings.ENTITY_TYPE.getLongType(type)
    },
    tiersPresent(vendor){
      //do some magic array string conversions for display
      return 'Tiers ' + Object.keys(vendor.tiersPresent).map(k => ' ' + vendor.tiersPresent[k])
    },
    refreshTopMenu(){
      let menu = this.tiers.sort((a, b) => a.ordinal - b.ordinal).map((t, index) => {
        return { menuTitle: "Tier " + (index+1), ordinal: t.ordinal, active: t.name === this.activeTier.name,
        highlight: this.activeVendor?.tiersPresent[t.name] ? true : false,
        callback: this.submenuCallback, name: t.name }
      })
      GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_SUBMENU_ITEMS, [ ...menu ]);
      GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_SUBMENU_ITEMS_VISIBILITY, true);
    },
    removeAllocations(alloc, vendor){
      this.$modal.show('dialog', {
        title: `Bulk remove ${alloc.type} allocations for ${vendor.name}?`,
        text: `CAUTION:<br><br>This will remove the ${alloc.type} allocations for this vendor for ALL of your tiers.<br><br>If you would like to remove from a specific tier, please select from the highlighted tiers and remove from the filtered cards.`,
        buttons: [
          {
            title: 'Do it! 👍',
            handler: () => {
              this.commitRemoveVendor({ type: alloc.type,  udbsaid: vendor.udbsaid});
              //save off active vendor if any before refreshing
              let selected = null;
              if(this.activeVendor){ selected = this.activeVendor.udbsaid; }
              this.vendorCards = this.getVendorAllocations();
              if(selected){
                this.vendorCards.forEach(v => { 
                  if(v.udbsaid === selected){
                    this.selectVendor(v);
                  }
                })
              }
              this.$modal.hide('dialog')
            }
          },
          {
            title: 'Cancel 🤭',
            default: true,
            handler: () => {
              this.$modal.hide('dialog')
            }
          }
        ]
      });
    },
    selectVendor(vendor){
      if (!vendor) return;
      this.vendorCards.forEach(v => {
        v.activeCard = false;
      });
      vendor.activeCard = true;
      this.activeVendor = vendor;
      this.vendorAssignedStateCards = [];
      this.vendorAssignedCountyCards = [];
      this.vendorAssignedZipCards = [];
      this.refreshTopMenu();
      vendor.allocations.forEach(alloc => {
        if(alloc.tier.name === this.activeTier.name){
          switch(alloc.type){
            case strings.ALLOCATION_CARD_TYPE.STATE:
              this.vendorAssignedStateCards.push(alloc);
              break;
            case strings.ALLOCATION_CARD_TYPE.COUNTY:
              this.vendorAssignedCountyCards.push(alloc);
              break;
            case strings.ALLOCATION_CARD_TYPE.ZIP:
              this.vendorAssignedZipCards.push(alloc);
              break;
            default: 
              this.nationCard = { ...alloc }
              this.$refs.usaCard.show();
              break; //national assignment for tier, don't do anything yet
          }
        }
      })
    }
  },
  destroyed() {
    GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_AUTOCOMPLETE_ITEM_SELECTED);
    GlobalEventBus.$off(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED);
  }
};
</script>
