<template>
  <div class='modal-help-dashboard p-10'>
    <span @click="$emit('close')" class="fixed right-0 top-0 cursor-pointer mt-3 mr-6 bg-blue-500 hover:bg-blue-700 ml-2 text-white font-bold py-2 px-4 rounded">Close</span>
    <h1 class='mb-1 text-lg font-bold'>Managing your Allocated Vendors</h1>
    <h1 class='mb-1'>Use this page to quickly remove allocations for specific vendors from your tiers.<br>We do not recommend using this area for assigning vendors.</h1>
    <h1>All the vendors listed on the left hand column have allocations in at least 1 tier within the system.<br>Type a name into the search box to filter the list.</h1>
    <div class="flex inline-block mb-1">
      <h3 class="flex flex-shrink-0 pt-3 pb-1 px-3 text-sm font-medium text-gray-600 w-1/2">
        <input
          type="search"
          class="bg-transparent placeholder-gray-600 px-2 bg-gray-200 rounded w-5/6"
          placeholder="Filter vendors with allocations"
          autocomplete="disabled"
        />
      </h3>
    </div>
    <h1>Selecting a vendor will highlight all of the tiers they are allocated in.</h1>
    <a v-for='item in tiers' :key='item.name'
      :class="[item.highlight ? highlight:inactive ]"> 
      {{item.name}}
    </a>
    <h1 class='mb-1'>As you select the highlighted tiers, we will filter down the allocations for you to quickly edit.</h1>
    <img class="mb-2" style="width:900px; height:300px" src="../../assets/images/vendor_list.png" />

    <h1 class="mb-3 inline-flex items-center">
      You can use the displayed cards to remove (
      <svg class="h-6 w-6 text-gray-700 fill-current cursor-pointer" viewBox="-3 -1 21 16">
        <path :d="$icons.svgPaths.minus_circle" />
      </svg>), add (
      <svg class="h-6 w-6 text-gray-700 fill-current cursor-pointer" viewBox="-3 -1 21 16">
        <path :d="$icons.svgPaths.plus_circle" />
      </svg>), and readjust vendor percentages.<br>
    </h1>
   
    <h1 class="mb-3 inline-flex">
      Setting allocation rules at the state, county, and zip code levels will lock (<svg class="h-5 w-5 text-gray-700 fill-current cursor-pointer" viewBox="0 0 23 23">
        <path :d="$icons.svgPaths.lock" />
      </svg>) it in place so that rule takes precedent.
    </h1>
     <h1>Removing a vendor will automatically allocate remaining percentages to other vendors in that rule.</h1>
    <h1 class='mb-2'>If the removed vendor was the only one allocated in that rule, the state, county, or allocation card will become unlocked.</h1>
    <h1 class="mb-3"> 
      The RDN Tiering Engine does not require rules to be set at every level. It will use its parent level allocation if an exact rule is not found for a case.<br><br>
      For example, if the zip code 89123 does not have a locked rule, the engine will look for its parent, Clark county.
      If an allocation rule is not set for Clark, NV, the engine will then assign the case based on allocation rules for Nevada.
      If a rule is not set for Nevada, the engine will finally assign the case based on the National level rule.
    </h1>
    <h1 class="mb-3 inline-flex">
      Remove a set allocation rule by clicking on the lock (<svg class="h-5 w-5 text-gray-700 fill-current cursor-pointer" viewBox="0 0 23 23">
        <path :d="$icons.svgPaths.lock" />
      </svg>) symbol.
    </h1>
    <div class="inline-flex mt-1 mb-3">
      <img style="width:300px; height:150px" src="../../assets/images/allocation_locked.png" />
      <img class="ml-4" style="width:370px; height:150px" src="../../assets/images/allocation_remove.png" />
    </div>
    <h1 class="mb-1 inline-flex">
      To Bulk Remove a vendor from all tiers, you can use the (<svg class="h-6 w-6 text-gray-700 fill-current cursor-pointer" viewBox="-3 -1 21 16">
        <path :d="$icons.svgPaths.minus_circle" />
      </svg>) symbol in their card.
    </h1>
    <h1 class="mb-3">Removing 'Total Allocations' will remove that vendor COMPLETELY from all tiers.<br>
        Removing 'State' will remove that vendor from any state rules for all tiers.<br>
        Removing 'County' will remove that vendor from any county rules for all tiers.<br>
        Removing 'Zip Code' will remove that vendor from any zip code rules for all tiers.<br>
    </h1>
    <div class="inline-flex mt-1 mb-3">
      <img style="width:330px; height:300px" src="../../assets/images/vendor_card.png" />
      <img class="ml-4" style="width:430px; height:300px" src="../../assets/images/bulk_remove.png" />
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      tiers: [ { name: 'Tier 1', highlight:true }, { name: 'Tier 2' }, { name: 'Tier 3', highlight:true }, { name: 'Tier 4' }, { name: 'Tier 5', highlight:true }, { name: 'Tier 6' },{ name: 'Tier 7' }],
      highlight: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-orange-500 hover:text-orange-500 hover:bg-gray-200',
      inactive: 'mb-1 cursor-pointer ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-gray-500 hover:text-orange-500 hover:bg-gray-100',
    }
  }
};
</script>
