<template>
  <div class='modal-help-dashboard p-10'>
    <span @click="$emit('close')" class="fixed right-0 top-0 cursor-pointer mt-3 mr-6 bg-blue-500 hover:bg-blue-700 ml-2 text-white font-bold py-2 px-4 rounded">Close</span>
    <h1 v-if="currentPage!==allocRoute" class='mb-1 text-lg font-bold'>Welcome to the Map Dashboard!</h1>
    <h1 v-if="currentPage===allocRoute" class='mb-1 text-lg font-bold'>Welcome to the Allocation View!</h1>
    <h1>By selecting any of the tiers configured, you'll get a visual of your tiering allocations.<br>Selecting different tiers will refresh your map view with their allocations.</h1>
    <a v-for='item in tiers' :key='item.name'
      class='mb-1 cursor-pointer ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-gray-500 hover:text-hblue hover:bg-gray-100'> 
      {{item.name}}
    </a>
    <h1>
      You can also Add, Copy, and Remove tiers by using the respective options and then selecting a tier to perform the action on.
    </h1>
    <a v-for='item in tiers2' :key='item.name'
      class='mb-1 cursor-pointer ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-gray-500 hover:text-hblue hover:bg-gray-100'> 
      {{item.name}}
    </a>
    <h1 class="mb-2">
      To change the tier name or duration, simply type in new ones.<br>
      <div class="mt-1 flex items-center">
        <input
            type="text"
            class="w-1/5 px-2 py-1 border border-gray-400 rounded-lg ml-2"
            placeholder="Enter a tier name"
          />
          <div class="flex items-center" :class="[pco ? 'opacity-50' : 'opacity-100']">
            <h3 class="pl-3 text-lg font-semibold text-gray-900 leading-tight">Duration</h3>
            <input disabled="pco"
              type="text"
              class="w-12 ml-3 px-2 py-1 border border-gray-400 rounded-lg"
              placeholder="30"
            />
            <h4 class="pl-2">days</h4>
          </div>
      </div>
    </h1>
    <h1 class="mb-1">
      You can set a single tier to wait for a charge off from the system before transitioning a case with
      <toggle-button
        v-model="pco"
        class="px-1 block"
        color="#82C7EB"
        :labels="{checked: 'Post', unchecked: 'Pre'}"
        />.<br>
      Doing so will disable the Duration setting.
    </h1>
    <h1 class="mb-1">
      Rearrange Tier positions by clicking on the numbered circle next to the tier name and duration settings.
      <span class="cursor-pointer bg-blue-500 hover:bg-blue-700 ml-2 text-white font-bold py-2 px-4 rounded-full">7</span><br>
    </h1>
    <h1 class="inline-flex items-center">To save a tier, a National allocation must be set by clicking on the edit (
      <svg class="h-5 w-5 text-gray-700 fill-current mt-1 mb-1 cursor-pointer" viewBox="0 0 24 24">
        <path :d="$icons.svgPaths.edit" />
      </svg>) button.
    </h1>
    <br>
    <div class="mb-2 inline-flex items-center">
      <h3 class="ml-2 text-lg font-bold font-semibold text-gray-900 leading-tight">
        USA
      </h3>
      <h4 class="pl-2 text-lg">
        ARS 50% Primeritus 50%
      </h4>
    </div>
    <h1 class="mb-3 inline-flex items-center">
      This will bring up the Allocation card view where you can remove (
      <svg class="h-6 w-6 text-gray-700 fill-current cursor-pointer" viewBox="-3 -1 21 16">
        <path :d="$icons.svgPaths.minus_circle" />
      </svg>), add (
      <svg class="h-6 w-6 text-gray-700 fill-current cursor-pointer" viewBox="-3 -1 21 16">
        <path :d="$icons.svgPaths.plus_circle" />
      </svg>), and readjust vendor percentages.<br>
    </h1>
    <div class="inline-flex mb-1">
      <img style="width:300px; height:150px" src="../../assets/images/allocation_card.png" />
      <img class="ml-4" style="width:300px; height:150px" src="../../assets/images/allocation_card_edit.png" />
    </div>
    <h1 class="mb-3 inline-flex items-center">
      Autoscale and adjust based on the ratio by using (
      <svg class="h-6 w-6 text-green-500 fill-current cursor-pointer" viewBox="-1 -1 22 22">
        <path :d="$icons.svgPaths.calc" />
      </svg>). You must have 100% allocation in order to save.
    </h1>
    
    <!-- DASHBOARD ONLY -->
    <div v-if="currentPage!==allocRoute"> 
      <h1>
        Toggle between the state and county views by clicking on <span class="text-blue-600 font-bold">View States</span> or <span class="text-blue-600 font-bold">View Counties</span>.
        <br>A tooltip will appear with their current allocations.
      </h1>
      <div class="inline-flex mt-1  mb-1">
        <img style="width:200px; height:300px" src="../../assets/images/state_ss.png" />
        <img class="ml-4" style="width:200px; height:200px" src="../../assets/images/county_ss.png" />
        <img class="ml-4" style="width:300px; height:180px" src="../../assets/images/tooltip.png" />
      </div>
      <h1 class="mb-2">
        Clicking on a state, or county, will bring up its Allocation Card View identical to the USA level.
      </h1>
    </div>

    <!-- ALLOCATION VIEW ONLY -->
    <div v-if="currentPage===allocRoute"> 
      <h1>
        Filter down states, counties, and zipcodes in the lists by typing into the respective filter input boxes.
      </h1>
      <div class="flex inline-block mb-4">
        <h3 class="flex-shrink-0 pt-3 px-3 text-sm font-medium text-gray-600 flex">
          <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
            <path :d="$icons.svgPaths.search" />
          </svg>
          <!-- use autocomplete disabled for the address fill to go away in chrome -->
          <input
            type="search"
            class="bg-transparent placeholder-gray-600 cursor-pointer px-2 bg-gray-200 rounded"
            placeholder="States"
            autocomplete="disabled"
          />
          <toggle-button
            class="ml-2 px-1 block"
            color="#82C7EB"
            :labels="{checked: 'Lock', unchecked: 'All'}"
            />
          <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
            <path :d="$icons.svgPaths.search" />
          </svg>
          <!-- use autocomplete disabled for the address fill to go away in chrome -->
          <input
            type="search"
            class="bg-transparent placeholder-gray-600 cursor-pointer px-2 bg-gray-200 rounded"
            placeholder="Counties"
            autocomplete="disabled"
          />
          <svg class="h-5 w-5 text-gray-600 fill-current" viewBox="0 0 24 24">
            <path :d="$icons.svgPaths.search" />
          </svg>
          <toggle-button
            class="ml-2 px-1 block"
            color="#82C7EB"
            :labels="{checked: 'Lock', unchecked: 'All'}"
            />
          <!-- use autocomplete disabled for the address fill to go away in chrome -->
          <input
            type="search"
            class="bg-transparent placeholder-gray-600 cursor-pointer px-2 bg-gray-200 rounded"
            placeholder="County Zip Codes"
            autocomplete="disabled"
          />
          <toggle-button
            class="ml-2 px-1 block"
            color="#82C7EB"
            :labels="{checked: 'Lock', unchecked: 'All'}"
            />
        </h3>
      </div>
      <h1 class="mb-3 inline-flex">
        Click on the <toggle-button
            class="ml-2 px-1 block"
            color="#82C7EB"
            :labels="{checked: 'Lock', unchecked: 'All'}"
            /> in each list to only show states, counties, or zip codes with locked (
          <svg class="h-5 w-5 text-gray-700 fill-current cursor-pointer" viewBox="0 0 23 23">
        <path :d="$icons.svgPaths.lock" />
        </svg>) allocation rules.
      </h1>

      <h1 class="mb-2">
        Clicking on a state will load its counties. Then clicking on a county will load its zip codes.
      </h1>
    </div>

    <h1 class="mb-3 inline-flex">
      Setting allocation rules at the state, county, and zip code levels will lock (<svg class="h-5 w-5 text-gray-700 fill-current cursor-pointer" viewBox="0 0 23 23">
        <path :d="$icons.svgPaths.lock" />
      </svg>) it in place so that rule takes precedent.
    </h1>
    <h1 class="mb-3"> 
      The RDN Tiering Engine does not require rules to be set at every level. It will use its parent level allocation if an exact rule is not found for a case.<br><br>
      For example, if the zip code 89123 does not have a locked rule, the engine will look for its parent, Clark county.
      If an allocation rule is not set for Clark, NV, the engine will then assign the case based on allocation rules for Nevada.
      If a rule is not set for Nevada, the engine will finally assign the case based on the National level rule.
    </h1>
    <h1 class="mb-3 inline-flex">
      Remove a set allocation rule by clicking on the lock (<svg class="h-5 w-5 text-gray-700 fill-current cursor-pointer" viewBox="0 0 23 23">
        <path :d="$icons.svgPaths.lock" />
      </svg>) symbol.
    </h1>
    <div class="inline-flex mt-1 mb-3">
      <img style="width:300px; height:150px" src="../../assets/images/allocation_locked.png" />
      <img class="ml-4" style="width:370px; height:150px" src="../../assets/images/allocation_remove.png" />
    </div>
    <h1 class="mb-2">
      Use the search box to quickly locate a state or county in the system.
    </h1>
      <div class="inline-flex mt-1 mb-3">
      <img class="ml-4" style="width:370px; height:150px" src="../../assets/images/search.png" />
    </div>
  </div>
</template>

<script>
import strings from "../../utils/strings"
export default {
  data(){
    return {
      allocRoute: strings.APP_ROUTES.ALLOCATION_PATH,
      pco: false,
      tiers: [ { name: 'Tier 1' }, { name: 'Tier 2' }, { name: 'Tier 3' }, { name: 'Tier 4' }, { name: 'Tier 5' }, { name: 'Tier 6' },{ name: 'Tier 7' }],
      tiers2: [ { name: 'Add Tier' },{ name: 'Copy Tier' },{ name: 'Remove Tier' }]
    }
  },
  computed: {
    currentPage() {
      return this.$route.path
    }
  }
};
</script>
