<template>
  <div class='modal-help-dashboard p-10'>
    <main class="w-11/12">
      <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="items-center pb-5">
          <br>
          <div class="text-sm inline-flex">
            <avatar :username="entry.causer_name"></avatar>
            <div class="ml-2 mt-2">
              <p class="text-gray-900 leading-none">{{entry.causer_name}}</p>
              <p class="text-gray-600">{{entry.created_at | moment("dddd, MMM Do YYYY - h:mm:ss a")}}</p>
            </div>
          </div>
        </div>
        <div>
          <p class="text-sm text-gray-600 flex items-center">
            <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
            </svg>
            Administrator
          </p>
          <div class="text-gray-900 font-bold text-xl">{{entry.description}} configuration</div>
        </div>
        <p class="text-gray-700 text-base"><pre>Changes:</pre></p>
        <p class="text-gray-700 text-base"><pre>{{entry.long}}</pre></p>
        <p v-for='(log, index) in logs' :key='index' class="text-gray-700 text-base"><pre>{{log.text}}</pre></p>
      </div>
    </main>
  </div>
</template>

<script>
import diff from 'deep-diff';
import HistoryMixin from '../../mixins/history'

export default {
  props: [ 'entry' ],
  mixins: [ HistoryMixin ],
  mounted () {
    this.$store.dispatch("tiers/getHistoryById", this.entry.id)
      .then(history => { 
        this.entry.properties = history.properties;
        if(this.entry.properties.old){ //updated event
          var diffs;
          if(this.entry.properties?.old?.tiers && this.entry.properties?.attributes?.tiers){
            diffs = diff(this.entry.properties.old.tiers, this.entry.properties.attributes.tiers);
            if(diffs && diffs.length > 0){
              this.entry.long = `${diffs.length} modifications applied to configuration.`;
              this.logs.push({ text: '-------------------' });
              this.genLogs(diffs);
            }
          }
        } else {
          if(this.entry.properties.attributes?.tiers){
            this.entry.long = `${this.entry.properties.attributes.tiers.length} tiers were added.`; 
            this.logs.push({ text: '-------------------' });
            this.entry.properties.attributes.tiers.forEach((tier) => {
              this.logs.push({ text: 'Added tier: ' + tier.name });
              if(tier.ordinal){
                this.logs.push({ text: 'Ordinal set to ' + tier.ordinal });
              }
              if(tier.transition_criteria){
                if(tier.transition_criteria.time){
                  this.logs.push({ text: 'Tier transition duration set to ' + tier.transition_criteria.time.days + ' days' });
                }
                if(tier.transition_criteria.case_extra){
                  this.logs.push({ text: 'Tier transition set to post charge off' });
                }
              }
              if(tier.allocation_weights){ //these properties should exist always due to validation
                if(tier.allocation_weights.national){
                  Object.keys(tier.allocation_weights.national).forEach(k => {
                    this.logs.push({ text: `Allocation -> Nation -> ${this.getNameForPath(k)} -> ${tier.allocation_weights.national[k]}` });
                  })
                }
                
                if(tier.allocation_weights.states){
                  Object.keys(tier.allocation_weights.states).forEach(stateAbbr => {
                    if(tier.allocation_weights.states[stateAbbr]?.state){
                      Object.keys(tier.allocation_weights.states[stateAbbr].state).forEach(udbsaid => {
                        this.logs.push({ text: `Allocation -> State -> ${stateAbbr} -> ${this.getNameForPath(udbsaid)} -> ${tier.allocation_weights.states[stateAbbr].state[udbsaid]}` });
                      })
                    }
                    if(tier.allocation_weights.states[stateAbbr]?.counties){
                      Object.keys(tier.allocation_weights.states[stateAbbr].counties).forEach(county => {
                        Object.keys(tier.allocation_weights.states[stateAbbr].counties[county]).forEach(udbsaid => {
                          this.logs.push({ text: `Allocation -> State -> ${stateAbbr} -> ${county} -> ${this.getNameForPath(udbsaid)} -> ${tier.allocation_weights.states[stateAbbr].counties[county][udbsaid]}` });
                        })
                      })
                    }
                  })
                }

                if(tier.allocation_weights.postal_codes){
                  Object.keys(tier.allocation_weights.postal_codes).forEach(k => {
                    Object.keys(tier.allocation_weights.postal_codes[k]).forEach(udbsaid => {
                      this.logs.push({ text: `Allocation -> Zip Code -> ${k} -> ${this.getNameForPath(udbsaid)} -> ${tier.allocation_weights.postal_codes[k][udbsaid]}` });
                    })  
                  })
                }
              }
              this.logs.push({ text: '-------------------' });
            });
            
          }
        }
      })
      .catch(() => {
        this.entry.long = '...unable to load modification entries at the moment.';
      })
  },
  methods: {
    genLogs(diffs){
      var path, s, i, j;
      for(i = 0; i < diffs.length; i++){
        s = '';
        switch(diffs[i].kind){
          case 'A':
            this.genLogs([diffs[i].item]);
            break;
          case 'D':
            path = [...diffs[i].path];
            for(j = 1; j < path.length; j++){
              s = s + this.getNameForPath(path[j]);
              if(j != path.length -1){ s = s + ' -> ' }
            }
            this.logs.push( { text: `Deleted ${s}, was ${diffs[i].lhs}` });
            break;
          case 'N':
            if(diffs[i].path){
              path = [...diffs[i].path];    
              for(j = 1; j < path.length; j++){
                s = s + this.getNameForPath(path[j]);
                if(j != path.length -1){ s = s + ' -> ' }
              }
            }
            this.logs.push( { text: `Added ${s} -> ${JSON.stringify(diffs[i].rhs)}` });
            break;
          case 'E': //diffEdit
            path = [...diffs[i].path];
            for(j = 1; j < path.length; j++){
              s = s + this.getNameForPath(path[j]);
              if(j != path.length){ s = s + ' -> ' }
            }
            this.logs.push( { text: s + ` changed from ${diffs[i].lhs} to ${diffs[i].rhs}` });
            break;
        }
      }
    }
  }
};
</script>
