<template>
  <div class="modal-copy-tier p-6">
    <h1>Select a tier to remove.<br></h1>
    <a class="cursor-pointer mt-3" v-for="(item) in items" :key="item.name"
      v-tooltip="{
          content: item.name,
          placement: 'right',
          classes: ['bg-blue-400 p-4 z-10'],
          offset: 1,
          delay: {
            show: 1000,
            hide: 200,
          },
        }"
      @click="toggleActiveItem(item);"
      :class="[item.active ? selected : notSelected ]">
      {{item.ordinal}} - {{item.name}}
    </a>
    <div class="absolute bottom-0 pb-3 flex w-full">
      <button @click="removeConfig()"
        class="w-1/3 float-left bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-1">
          Remove
      </button>
      <button @click="removeConfig(true)"
        class="w-1/3 float-right bg-gray-500 hover:bg-blue-700 text-white font-bold rounded py-1 ml-2">
          Cancel
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: { 
      default: function () {
        return [];
      }
    }
  },
  data(){
    return {
      selected: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-hblue bg-gray-100',
      notSelected: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-gray-500 hover:text-hblue hover:bg-gray-100',
    }
  },
  methods:{
    toggleActiveItem(item){
      this.items.forEach(i => {
        i.active = false;
      })
      item.active = true;
      this.$forceUpdate();
    },
    removeConfig(cancel){
      if(cancel){
        this.$emit('close');
        return;
      }
      let selection = this.items.find(tier => tier.active)
      if(!selection){
        this.$toasted.show(`Please select a tier.`, { duration: 2000, type: "error", position: 'top-center'});
        return;
      }
      this.$parent.$emit('remove-tier', selection);
      this.$emit('close');
    }
  }
};
</script>
