<template>
  <div class="modal-copy-tier p-6">
    <h1>Drag and move tiers around to rearrange their order.<br></h1>
    <draggable v-model="sortItems">
       <a class="cursor-pointer mt-3 ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-gray-500 hover:text-hblue hover:bg-gray-100"
        v-for="(item,index) in sortItems" :key="item.ordinal"
        v-tooltip="{
            content: item.name,
            placement: 'right',
            classes: ['bg-blue-400 p-4 z-10'],
            offset: 1,
            delay: {
              show: 1000,
              hide: 200,
            },
          }"
        >
        ({{index+1}}) {{item.name}}
      </a>
    </draggable>
    <div class="absolute bottom-0 pb-3 flex w-full">
      <button @click="reorderConfig()"
        class="w-1/3 float-left bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-1">
          Reorder
      </button>
      <button @click="reorderConfig(true)"
        class="w-1/3 float-right bg-gray-500 hover:bg-blue-700 text-white font-bold rounded py-1 ml-2">
          Cancel
      </button>
    </div>
  </div>
</template>

<script>
 import draggable from 'vuedraggable'

export default {
  components: {
    draggable
  },
  props: {
    items: { 
      default: function () {
        return [];
      }
    }
  },
  data(){
    return {
      sortItems: []
    }
  },
  mounted(){
    //copying sort items to avoid vue warning:
    //'Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders'  
    this.sortItems = this.items;
  },
  methods:{
    reorderConfig(cancel){
      if(cancel){
        this.$emit('close');
        return;
      }
      this.sortItems.forEach((item, index) => {
        item.ordinal = index+1;
      });
      this.$parent.$emit('reorder-tier', this.sortItems);
      this.$emit('close');
    }
  }
};
</script>
