@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

body {
    background-color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}
