<template>
  <div class="mt-3 bg-transparent max-w-sm rounded overflow-hidden shadow-lg" :style="css_style">
    <a class="pl-0 block bg-white rounded-lg pb-1">
      <div
      :class="[ card.activeCard ? 'flex justify-between rounded-t-lg cursor-pointer bg-hblue' 
      : 'flex justify-between bg-cardhead rounded-t-lg cursor-pointer hover:bg-hblue']">
        <p class="px-4 py-2 block text-md font-medium leading-snug text-white" v-if="card.type === 'county'">
          <a v-show="card.saved" v-on:click.stop="promptRemoveAllocs"
            v-tooltip="{
              content: 'Custom rule. Click to remove.',
              placement: 'right',
              classes: ['bg-blue-400 p-4'],
              offset: 1,
              delay: {
                show: 1000,
                hide: 200,
              },
            }">
              <svg class="h-6 w-6 inline-flex fill-current text-white" viewBox="0 0 28 28">
                <path :d="$icons.svgPaths.lock" />
              </svg>
            </a>
        ({{ allocations.length}}) {{ card.name }}, {{card.abbreviation}}
        </p>
        <p class="px-4 py-2 block text-md font-medium leading-snug text-white" v-if="card.type !== 'county'">
          <a v-show="card.saved" v-on:click.stop="promptRemoveAllocs"
          v-tooltip="{
            content: 'Custom rule. Click to remove.',
            placement: 'right',
            classes: ['bg-blue-400 p-4'],
            offset: 1,
            delay: {
              show: 1000,
              hide: 200,
            },
          }">
            <svg class="h-6 w-6 inline-flex fill-current white" viewBox="0 0 28 28">
                <path :d="$icons.svgPaths.lock" />
              </svg>
          </a>
           ({{ allocations.length}}) {{ card.name }}
        </p>
        <p v-show="editMode" class="float-right mx-3 my-2 pr-3 text-white text-sm" :style="percent_rm_style">{{percentRemaining}}</p>
      </div>
      <ul clase="mt-2 flex-col justify-between items-baseline">
        <li class="text-sm text-gray-600" v-for="entity in allocations" :key="entity.udbsaid">
          <div class="flex" :class="card.highlight ? (card.highlight === entity.udbsaid ? 'text-orange-500' : 'opacity-50') : ''">
            <div class="w-4/5">
            <!-- not using @click in order to prevent bubble up toggling off editMode if it happens to be on-->
              <svg v-on:click.stop="removeEntity($event, entity)" class="h-5 w-5 inline-block ml-3 cursor-pointer fill-current text-gray-600" viewBox="0 0 18 18">
                <path :d="$icons.svgPaths.minus_circle" />
              </svg>
              <!-- <input v-on:click.stop="editMode=true" v-on:keyup.enter="editMode=false" v-show="editMode" class="w-2/3 focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mx-3 my-2 py-1 px-3"
               v-model="entity.name"> -->
              <p class="inline-block max-w-xs px-4 py-2"
                v-tooltip="{
                  content: getEntityContent(entity),
                  placement: 'top',
                  classes: ['bg-blue-400 p-4'],
                  offset: 1,
                  delay: {
                    show: 2500,
                    hide: 200,
                  },
                }">
                {{ truncate(entity.name, truncate_length) }}</p>
            </div>
            <div class="w-1/5">
              <!-- need v-on:click.stop="editMode=true" on both input and p to override v-on:click in parent div -->
              <input v-on:click.stop="editMode=true" v-on:keyup.enter="editMode=false; validateAndUpdate()" 
              v-on:keyup.escape="editMode=false; cancelSave()" v-show="editMode"
              class="w-full float-right focus:outline-shadow rounded mx-2 my-2 px-2"
              :class="[ !validationErr ? 'bg-blue-100' : 'bg-pink-300']"
                type="number" placeholder="%" v-model="entity.amount">
              <p v-on:click.stop="editMode=true" v-show="!editMode" class="cursor-pointer w-full float-right mx-3 my-2" :style="percent_p_style">{{entity.amount}}%</p>  
            </div>
           </div>
        </li>
        <li class="text-sm text-gray-600" v-show="addingEntity">
          <div class="flex">
            <div class="w-2/12">
              <svg v-on:click.stop="addEntity(false)"
                class="h-5 w-5 inline-block ml-3 my-3 cursor-pointer fill-current text-gray-600" viewBox="0 0 18 18"> 
                <path :d="$icons.svgPaths.minus_circle" />
              </svg> 
            </div>
            <div class="w-3/4 h-20">
              <!-- https://github.com/paliari/v-autocomplete#properties -->
              <v-autocomplete class="inline-block"
              v-model="placeholderEntity"
              v-on:click.native.stop="editMode=true" @item-selected="entitySelected"
              :items="items" :get-label="getLabel" :auto-select-one-item="false"
              :component-item='template' @update-items="updateItems" :wait="800" 
              :input-attrs="{class: 'focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg mx-1 my-2 py-1 px-3' }"
              />
            </div>
          </div>
        </li>
      </ul>
      <svg v-on:click.stop="addEntity(true)" class="inline-block h-5 w-5 mx-3 my-2 cursor-pointer fill-current text-gray-600" viewBox="0 0 18 18">
        <path :d="$icons.svgPaths.plus_circle" />
      </svg>
      <div class="inline-block float-right pl-10 mt-2 w-3/4" v-show="editMode">
        <svg v-show="(percentRemaining === '')"
          class="h-5 w-5 mr-2 inline-block cursor-pointer fill-current text-white" viewBox="0 0 24 24"> 
          <path :d="$icons.svgPaths.calc" />
        </svg>
        <svg v-show="(percentRemaining !== '')" v-on:click.stop="autoAllocate()"
          v-tooltip="{
                  content: 'Auto allocate remainder based on your ratios.',
                  placement: 'bottom',
                  classes: ['bg-blue-400 p-4'],
                  offset: 1,
                  delay: {
                    show: 1000,
                    hide: 200,
                  },
                }"
          class="h-5 w-5 mr-2 inline-block cursor-pointer fill-current text-green-500" viewBox="0 0 24 24"> 
          <path :d="$icons.svgPaths.calc" />
        </svg>
        <button
          v-show="(percentRemaining !== '')"
          v-tooltip="{
                  content: 'Need 100% allocation to save.',
                  placement: 'bottom',
                  classes: ['bg-blue-400 p-4'],
                  offset: 1,
                  delay: {
                    show: 500,
                    hide: 200,
                  },
                }"
          class="w-1/3 bg-yellow-300 text-gray-500 font-semibold rounded">
            Save
        </button>
        <button @click="editMode=false; validateAndUpdate()"
          v-show="(percentRemaining === '')"
          class="w-1/3 bg-yellow-500 text-black font-semibold rounded">
            Save
        </button>
        <button @click="editMode=false; cancelSave()"
          class="w-1/4 bg-white text-black rounded ml-2">
            Cancel
        </button>
    </div>  
    </a>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from "vuex";
import EntityAutocompleteTemplate from '../reuseable/EntityAutocompleteTemplate'
import { SET_TIER_ALLOCS, REMOVE_TIER_ALLOCS } from "../../store/mutations"
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";
import strings from '../../utils/strings'

export default {
  name: "AllocationCard",
  props: {
    card: { 
      default: function () {
        return { name: 'ERR!', activeCard: true, abbreviation: '' }
      }
    },
    //can override the length of the allocation vendor/forwarder name for display purposes on smaller width cards
    truncate_length: {
      type: Number,
      default: 20
    },
    css_style: {
      type: String,
      default: ''
    },
    percent_p_style: { //this is to offset leaflet popup weirdness
      type: String,
      default: ''
    },
    percent_rm_style: { //to adjust floating text percent remaining as needed
      type: String,
      default: ''
    }
  },
  data(){ //mock some data for now
    return {
      editMode: false,
      addingEntity: false,
      refreshAutocomplete: true,
      placeholderEntity: null,
      allocations: [],
      allocationsCopy: [],
      itemsSource: [],
      items: [],
      unwatch: null,
      template: EntityAutocompleteTemplate
    }
  },
  computed: {
    validationErr(){
      return this.allocations.reduce((total, alloc) => { return total + Number(alloc.amount) }, 0) > 100 ? true : false;
    },
    percentRemaining(){
      let alloc = this.allocations.reduce((total, alloc) => { return total + Number(alloc.amount) }, 0);
      if(alloc === 100){
        return '';
      } else {
        return 100 - alloc > 0 ? 100 - alloc + '% Left' : alloc - 100 + '% Over';
      }
    },
    ...mapGetters("entities", {
      forwardersByStateAbbr: "forwardersByStateAbbr",
      forwardersByCountyStateAbbr: "forwardersByCountyStateAbbr",
      vendorsByStateAbbr: "vendorsByStateAbbr",
      vendorsByCountyStateAbbr: "vendorsByCountyStateAbbr"
    }),
    ...mapGetters("tiers", {
      getAllocationRule: "getAllocationRule"
    }),
    ...mapState({
      _tierConfigs: state => state.tiers.configs,
      _isDirty: state => state.tiers.isDirty
    }),
  },
  /*watch: {  //<---- AVOID using a watch declared statically in a component - vuejs does not properly destroy them
    _isDirty: function (newVal,oldVal) {//not using func params, commenting out due to linter
      console.log('I am leaky!', newVal, oldVal); //eslint-disable-line
    }
  },*/
  mounted() {
    this.loadAllocations();
    this.unwatch = this.$watch('_isDirty', () => {
      this.loadAllocations();
    });
  },
  methods: {
    ...mapMutations({
      commitAllocation: 'tiers/'+SET_TIER_ALLOCS,
      removeAllocation: 'tiers/'+REMOVE_TIER_ALLOCS
    }),
    loadAllocations(){
      /*if the card.name, card.type, and card.abbreviation is set we can query the _tierConfig state to set the default*/
      this.allocations = [];
      this.allocationsCopy = [];
      let conf = this.getAllocationRule(this.card);
      conf.allocations.forEach(f => {
        if(f.udbsaid !== 'err!') { //ignore the stub return
          this.allocations.push({ ...f }); //copy to prevent vuex commit outside of mutation since we're editing this state object here
          this.allocationsCopy.push({...f});
        }
      })
      //card is loaded from config if it didn't load its parent rule set
      this.card.saved = !conf.loadedParentRules;
    },
    promptRemoveAllocs(){
      this.$modal.show('dialog', {
        title: `Remove allocations for ${this.card.name}?`,
        text: this.getParentLevelText(),
        buttons: [
          {
            title: 'Do it! 👍',
            handler: () => {
              this.removeAllocation(this.card);
              GlobalEventBus.$emit(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED, this.card);
              if(this.$parent){ //optionally emit at the parent level in case not subscribing to global event
                this.$parent.$emit(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED, this.card);
              }
              this.$modal.hide('dialog')
            }
          },
          {
            title: 'Cancel 🤭',
            default: true,
            handler: () => {
              this.$modal.hide('dialog')
            }
          }
        ]
      });
    },
    getParentLevelText(){
      switch(this.card.type){
        case strings.ALLOCATION_CARD_TYPE.STATE:
          return 'This state will be reset to the allocations at the national level.'
        case strings.ALLOCATION_CARD_TYPE.COUNTY:
          return `This county will be reset to the allocations at the ${this.card.abbreviation} state level.`
        case strings.ALLOCATION_CARD_TYPE.ZIP:
          return 'This zip code will be reset to the allocations of its county level.'
        default: return 'of its parent level.'
      }
    },
    cancelSave(){
      this.allocations = [];
      this.allocationsCopy.forEach(f=> this.allocations.push({ ...f }));
    },  
    validateAndUpdate(){
      if (!this.validationErr && this.percentRemaining === ''){
        //validate that allocations aren't the same as the clean copy and don't commit
        //if they were loaded as a 'parent' level rule, this won't save extraneous configuration properties
        if(JSON.stringify(this.allocations) !== JSON.stringify(this.allocationsCopy)){
          this.commitAllocation({ ...this.card, allocations: this.allocations });
          GlobalEventBus.$emit(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED, this.card);
          if(this.$parent){ //optionally emit at the parent level in case not subscribing to global event
            this.$parent.$emit(GLOBAL_EVENTS.ALLOCATION_CARD_UPDATED, this.card);
          }
          this.allocationsCopy = [];
          this.allocations.forEach(f=> this.allocationsCopy.push({ ...f }));
        }
      } else {
        this.editMode=true;
        this.$toasted.show(`Please correct errors, changes to this rule can't be committed.`, { duration : 3000, type: 'error' });
      }
    },
    getEntityContent(entity){
      return `${entity.name} - (${strings.ENTITY_TYPE.getLongType(entity.type)})`;
    },
    entitySelected(entity){
      this.addingEntity = false;
      if (this.allocations.findIndex(a => a.udbsaid === entity.udbsaid) === -1){
        this.allocations.push({ name: entity.name, udbsaid: entity.udbsaid, amount: 0, type: entity.type });
      } else {
        this.$toasted.show(`${entity.name} - (${strings.ENTITY_TYPE.getLongType(entity.type)}) already has an allocation rule here.`, { duration : 4000, type: 'error' });
      }
      this.editMode = true;
    },
    getLabel (item) {
      return item ? item.name : ''
    },
    updateItems (text) {
      this.items = this.itemsSource.filter(entity => entity.name.toLowerCase().includes(text.toLowerCase()))
      if(this.items.length === 0) { this.items = [] }
    },
    autoAllocate(){
      if(this.allocations.length > 0){ //redistribute remaining based on ratios - math is hard 
        this.allocations.forEach(a => { if(a.amount.length === 0) { a.amount = 1; } })
        let sum = this.allocations.reduce((total, a) => { return total + Number(a.amount) }, 0)
        this.allocations.forEach(a => a.amount = Math.floor((Number(a.amount)/sum)*(100 - sum) + Number(a.amount)))
        let remainder = 100 - (this.allocations.reduce((total, a) => { return total + Number(a.amount) }, 0))
        this.allocations[0].amount = Number(this.allocations[0].amount) + remainder;
      }
      this.editMode = true;
      this.refreshAutocomplete = true; //can now include the removed vendor in the filtered autcomplete list
    },
    removeEntity(event, entity){
      this.allocations.splice(this.allocations.findIndex(e => e.udbsaid === entity.udbsaid), 1);
      this.autoAllocate();
    },
    addEntity(result){
      this.placeholderEntity = null;//reset the autocomplete box
      this.addingEntity = result;
      if(result && this.refreshAutocomplete){
        this.itemsSource = [];
        switch(this.card.type){
          case strings.ALLOCATION_CARD_TYPE.NATION: //nation only uses forwarders - card abbrev is 'usa'
            this.$store.dispatch("entities/getForwardersByStateAbbr", { state: this.card.abbreviation })
              .then(() => { 
                this.forwardersByStateAbbr(this.card.abbreviation).forEach(forwarder => {
                  if (this.allocations.findIndex(a => a.udbsaid === forwarder.udbsaid) === -1) {
                    this.itemsSource.push({ name: forwarder.name, udbsaid: forwarder.udbsaid, type: strings.ENTITY_TYPE.FORWARDER })
                  }
              })
            });
            break;
          case strings.ALLOCATION_CARD_TYPE.STATE:
            this.$store.dispatch("entities/getForwardersByStateAbbr", { state: this.card.abbreviation })
              .then(() => { 
                this.forwardersByStateAbbr(this.card.abbreviation).forEach(forwarder => {
                  if (this.allocations.findIndex(a => a.udbsaid === forwarder.udbsaid) === -1) {
                    this.itemsSource.push({ name: forwarder.name, udbsaid: forwarder.udbsaid, type: strings.ENTITY_TYPE.FORWARDER })
                  }
              })    
            });
            this.$store.dispatch("entities/getVendorsByStateAbbr", { state: this.card.abbreviation })
              .then(() => { 
                this.vendorsByStateAbbr(this.card.abbreviation).forEach(vendor => {
                  if (this.allocations.findIndex(a => a.udbsaid === vendor.udbsaid) === -1) {
                    this.itemsSource.push({ name: vendor.name, udbsaid: vendor.udbsaid, type: strings.ENTITY_TYPE.VENDOR })
                  }
              })    
            });
            break;
          case strings.ALLOCATION_CARD_TYPE.COUNTY:
            this.$store.dispatch("entities/getForwardersByCountyStateAbbr", { county: this.card.name, state: this.card.abbreviation })
              .then(() => { 
                this.forwardersByCountyStateAbbr(this.card.name,this.card.abbreviation).forEach(forwarder => {
                  if (this.allocations.findIndex(a => a.udbsaid === forwarder.udbsaid) === -1) {
                    this.itemsSource.push({ name: forwarder.name, udbsaid: forwarder.udbsaid, type: strings.ENTITY_TYPE.FORWARDER })
                  }
              })
            });
            this.$store.dispatch("entities/getVendorsByCountyStateAbbr", { county: this.card.name, state: this.card.abbreviation })
              .then(() => { 
                this.vendorsByCountyStateAbbr(this.card.name,this.card.abbreviation).forEach(vendor => {
                  if (this.allocations.findIndex(a => a.udbsaid === vendor.udbsaid) === -1) {
                    this.itemsSource.push({ name: vendor.name, udbsaid: vendor.udbsaid, type: strings.ENTITY_TYPE.VENDOR })
                  }
              })
            });
            break;
          case strings.ALLOCATION_CARD_TYPE.ZIP:
            this.$store.dispatch("entities/getForwardersByZipCode", { postal_code: this.card.name })
              .then(forwarders => {
                forwarders.forEach(forwarder => {
                  if (this.allocations.findIndex(a => a.udbsaid === forwarder.udbsaid) === -1) {
                    this.itemsSource.push({ name: forwarder.name, udbsaid: forwarder.udbsaid, type: strings.ENTITY_TYPE.FORWARDER })
                  }
              })
            });
            this.$store.dispatch("entities/getVendorsByZipCode", { postal_code: this.card.name })
              .then(vendors => { 
                vendors.forEach(vendor => {
                  if (this.allocations.findIndex(a => a.udbsaid === vendor.udbsaid) === -1) {  
                    this.itemsSource.push({ name: vendor.name, udbsaid: vendor.udbsaid, type: strings.ENTITY_TYPE.VENDOR })
                  }
              })
            });
            break;
          default: break;
        }
        this.refreshAutocomplete = false;
      }
    }
  },
  beforeDestroy(){
    this.unwatch();
  }
};
</script>