<template>
  <div class="mx-4">
    <!-- <b v-if="item.udbsaid">#{{item.udbsaid}}</b> -->
    <b class="cursor-pointer" v-if="item.name">({{item.type}}) {{item.name}}</b>
  </div>
</template>

<script>
export default {
  props: {
    item: { required: true },
    searchText: { required: true }
  }
}
</script>

<style>
 .v-autocomplete-list {
    border-radius: 5px;
    max-height: 450px;
    overflow-y: auto;
 }
 .v-autocomplete-list-item {
    background-color: #f2fff2;
    padding-left:4px;
    padding-right: 4px;
    opacity: .90;
    z-index: 100;
  }
  .v-autocomplete-item-active {
    background-color: #9ae6b4;
    z-index: 10000;
  }
</style>