<template>
  <div class="w-full hover:bg-green-300">
    <b class="cursor-pointer" v-if="!item.stateInfo">{{item.name}}</b>
    <b class="cursor-pointer" v-if="item.stateInfo">{{item.name}}, {{item.stateInfo.name}}</b>
  </div>
</template>

<script>
export default {
  props: {
    item: { required: true },
    searchText: { required: true }
  }
}
</script>