<template>
  <div class="flex-1 flex overflow-hidden">
    <!-- Side Navigation -->
    <div
      :class="sidebarOpen ? 'w-64' : 'w-0'"
      class="z-30 fixed inset-y-0 left-0 bg-blue-800 border-r border-blue-900 overflow-y-auto sm:static sm:block sm:translate-x-0 sm:transition-none"
    >
      <div class="absolute top-0 left-0 pl-4 pt-3 sm:hidden">
        <!-- Close Btn -->
        <button @click="toggle" class="block text-red-600 hover:text-gray-800">
          <svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
            <path :d="$icons.svgPaths.close" />
          </svg>
        </button>
        <!-- /close btn -->
      </div>
      <nav class="mt-16 sm:mt-0">
        <div class="mt-8 px-6">
          <h2
            class="text-xs font-semibold text-gray-600 uppercase tracking-wide"
          >
            Main
          </h2>
          <div class="mt-3 cursor-pointer">
            <a
              @click="navExternal(rdnClientMainUrl)"
              class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-blue-700 rounded-lg"
            >
              <span class="inline-flex">
                <svg
                  class="h-5 w-5 fill-current text-gray-500"
                  viewBox="1 0 20 20"
                >
                  <path :d="$icons.svgPaths.home" />
                </svg>
                <span class="ml-2 text-gray-500">RDN</span>
              </span>
            </a>
            <router-link
              to="/"
              class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-blue-700 rounded-lg"
            >
              <span class="inline-flex">
                <svg
                  class="ml-1 h-6 w-6 fill-current text-gray-500"
                  viewBox="0 0 20 20"
                >
                  <path :d="$icons.svgPaths.hamburger_plus" />
                </svg>
                <span class="ml-2 text-gray-500">Tiering Management</span>
              </span>
            </router-link>
            <router-link v-for="link in tieringSubLinks" :key="link.name"
              :to="link.path"
              :class="[currentPage.includes(link.path) ? activeLink : inactiveLink]"
            >
              <span class="inline-flex">
                <svg
                  class="h-6 w-6 fill-current text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path :d="link.icon" />
                </svg>
                <span class="ml-2 text-gray-500">{{link.name}}</span>
              </span>
            </router-link>
          </div>
          <h2
            class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wide"
          >
            Additional Info
          </h2>
          <div class="mt-4">
            <a href="https://www.recoverydatabase.net/contact" class="block text-sm font-medium text-gray-700">
              Contact Us
            </a>
            <a href="https://www.recoverydatabase.net/privacy" class="mt-4 block text-sm font-medium text-gray-700">
              Privacy
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";
import strings from "../../utils/strings"

export default {
  name: "LeftSide",
  data: function() {
    return {
      rdnClientMainUrl: process.env.VUE_APP_RDN_MAIN_LINK,
      tieringSubLinks: [ //specific to tiering module, can add more if we extend more modules to this project
        { path: strings.APP_ROUTES.DASHBOARD_PATH, name: strings.APP_ROUTES.DASHBOARD_NAME, icon: this.$icons.svgPaths.map },
        { path: strings.APP_ROUTES.ALLOCATION_PATH, name: strings.APP_ROUTES.ALLOCATION_NAME, icon: this.$icons.svgPaths.card },
        { path: strings.APP_ROUTES.VENDOR_PATH, name: strings.APP_ROUTES.VENDOR_NAME, icon: this.$icons.svgPaths.avatar },
        { path: strings.APP_ROUTES.HISTORY_PATH, name: strings.APP_ROUTES.HISTORY_NAME, icon: this.$icons.svgPaths.history },
        //{ path: strings.APP_ROUTES.TIERS_PATH, name: strings.APP_ROUTES.TIERS_NAME, icon: this.$icons.svgPaths.avatar },
      ],
      sidebarOpen: true,
      inactiveLink:
        "mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-blue-700 rounded-lg",
      activeLink:
        "mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium bg-blue-700 rounded-lg"
    };
  },
  computed: {
    currentPage() {
      return this.$route.path;
    }
  },
  mounted() {
    GlobalEventBus.$on(GLOBAL_EVENTS.LEFT_SIDEBAR_TOGGLE, () => {
      this.toggle();
    });
    GlobalEventBus.$on(GLOBAL_EVENTS.LEFT_SIDEBAR_CLOSE, () => {
      this.sidebarOpen = false;
    });
    GlobalEventBus.$on(GLOBAL_EVENTS.LEFT_SIDEBAR_OPEN, () => {
      this.sidebarOpen = true;
    });
  },
  methods: {
    stubDialog(){
      this.$modal.show('dialog', {
        title: "This will eventually take you to RDN's Main page.",
        text: 'For now - have a nice day!',
        buttons: [
          {
            title: 'CANCEL',
            handler: () => {
              this.$modal.hide('dialog')
            }
          },
          {
            title: '🥶',
            default: true,
            handler: () => {
              alert('Nothing to see here bro.')
              this.$modal.hide('dialog')
            }
          }
        ]
      });
    },
    toggle() {
      this.sidebarOpen = !this.sidebarOpen;
    }
  },
  destroyed(){
    GlobalEventBus.$off(GLOBAL_EVENTS.LEFT_SIDEBAR_TOGGLE);
    GlobalEventBus.$off(GLOBAL_EVENTS.LEFT_SIDEBAR_CLOSE);
    GlobalEventBus.$off(GLOBAL_EVENTS.LEFT_SIDEBAR_OPEN);
  }
};
</script>
