<template>
  <header class="flex flex-shrink-0">
    <div class="flex-shrink-0 px-4 py-3 bg-blue-900 w-64">
      <div class="flex justify-between items-center">
        <div class="pl-0 pr-3">
          <!-- Menu Btn -->
          <button
            @click="leftSideToggle"
            class="block text-gray-400 hover:text-gray-200"
          >
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
              <path
                :d="$icons.svgPaths.hamburger"
              />
            </svg>
          </button>
          <!-- /menu btn -->
        </div>
        <!-- RDN Logo -->
        <div class="px-0 py-0 m-2">
          <loading-progress
              class="absolute"
              :indeterminate="loading"
              :shape="$icons.svgPaths.rdn_swoosh"
              size="200"
              fill-duration="2"
              :style="loading ? 'fill: #3B98C8; left: 56px; top: -5px; stroke: #9ae6b4; stroke-width: 2' :
               'fill: #3B98C8; left: 56px; top: -5px;'"
            />
          <svg
            width="101"
            height="40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!-- <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              :d="$icons.svgPaths.rdn_swoosh"
              fill="#3B98C8"
            /> -->
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              :d="$icons.svgPaths.rdn_lettering"
              fill="#fff"
            />
          </svg>
        </div>
        <!-- /rdn logo -->
        <!-- Chevron(not used, hidden for now) -->
        <div>
          <svg
            class="ml-2 h-6 w-6 fill-current text-gray-400 lg:ml-auto"
            viewBox="0 0 24 24"
          >
            <!-- <path
              :d="$icons.svgPaths.chevron"
            /> -->
          </svg>
        </div>
        <!-- /chevron -->
      </div>
    </div>
    <!-- Top Horizontal Nav -->
    <div
      class="flex-1 flex items-center justify-between pl-2 pr-6 bg-white shadow-md z-10 lg:px-6"
    >
      <!-- Left Side -->
      <div class="flex flex-col hidden sm:flex">
        <div class="">
          <h2 class="text-black font-semibold">{{title}}</h2>
        </div>
        <div class="">
          <nav class="" v-show="sublinkVisibility">
            <router-link v-for="link in activeSubLinks" :key="link.name"  :to="link.path"
              :class="[currentPage.includes(link.path) ? activeSubLink : inactiveSubLink ]">
              {{link.name}}
            </router-link>
          </nav>
          <nav class="" v-show="submenuVisibility">
            <a class="cursor-pointer" v-for="item in subMenuItems" :key="item.name"
              v-tooltip="{
                  content: item.name,
                  placement: 'right',
                  classes: ['bg-blue-400 p-4 z-10'],
                  offset: 1,
                  delay: {
                    show: 1000,
                    hide: 200,
                  },
                }"
              @click="toggleActiveSubmenuItem(item); item.callback(item)"
              :class="[item.active ? (item.highlight ? activeHighlightSubLink :activeSubLink) : (item.highlight ? inactiveHighlightSubLink : inactiveSubLink) ]">
              {{item.menuTitle}}
            </a>
          </nav>
        </div>
      </div>
      <!-- /left side -->
      <div class="ml-auto flex items-center">
        <button class="lg:hidden ml-5 text-gray-400 hover:text-gray-200">
          <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24">
            <path
              :d="$icons.svgPaths.search"
            />
          </svg>
        </button>
        <div class="hidden lg:block relative w-64 mb-8" v-show="searchVisibility">
          <!-- https://github.com/paliari/v-autocomplete#properties -->
          <v-autocomplete class="absolute"
          :auto-select-one-item="false" :item="searchItem" :get-label="getLabel" @update-items="updateItems"
          @change="searchTextUpdated" @item-selected="searchAutcompleteItemSelected" 
          :items="items" v-on:keyup.native.enter="searchEnterKey" :min-len="5"
          :component-item='template' :input-attrs="{placeholder: 'Search', 
          class: 'mr-12 pl-5 pr-4 py-2 w-full bg-gray-200 rounded-lg text-sm placeholder-gray-400 text-black focus:bg-gray-300 focus:placeholder-gray-600 focus:text-gray-900 focus:outline-none' }"
          />
        </div>
        <a class="ml-4 text-orange-500 hover:text-gray-700 cursor-pointer" @click="helpClicked">
          <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24">
            <path d="M12 18a1 1 0 100-2 1 1 0 000 2z" />
            <path
              :d="$icons.svgPaths.circle"
            />
            <path
              :d="$icons.svgPaths.questionMark"
            />
          </svg>
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import { GlobalEventBus, GLOBAL_EVENTS } from "../../utils/global-event-bus";
import GeoSearchAutocompleteTemplate from '../reuseable/GeoSearchAutocompleteTemplate'
import strings from "../../utils/strings"
import county_json from '../../assets/geojson/counties.json'
import state_json from '../../assets/geojson/states.json'

export default {
  name: "Top",
  data() {
    return {
      loading: false,
      title: 'Welcome to Recovery Database Network',
      statesAutocomplete: [],
      countiesAutocomplete: [],
      autocompleteItemsSource: [],
      items: [],
      template: GeoSearchAutocompleteTemplate,
      sublinkVisibility: true,
      submenuVisibility: false,
      subMenuItems: [],
      activeSubLinks: [], 
      tieringSubLinks: [ //specific to tiering module, can add more if we extend more modules to this project
        { path: strings.APP_ROUTES.DASHBOARD_PATH, name: strings.APP_ROUTES.DASHBOARD_NAME },
        { path: strings.APP_ROUTES.ALLOCATION_PATH, name: strings.APP_ROUTES.ALLOCATION_NAME },
        { path: strings.APP_ROUTES.VENDOR_PATH, name: strings.APP_ROUTES.VENDOR_NAME },
        { path: strings.APP_ROUTES.HISTORY_PATH, name: strings.APP_ROUTES.HISTORY_NAME },
        //{ path: strings.APP_ROUTES.TIERS_PATH, name: strings.APP_ROUTES.TIERS_NAME },
      ],
      searchItem: {},
      searchText: "",
      searchVisibility: true,
      activeSubLink: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-hblue bg-gray-200',
      activeHighlightSubLink: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-orange-500 bg-gray-200',
      inactiveSubLink: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-gray-500 hover:text-hblue hover:bg-gray-200',
      inactiveHighlightSubLink: 'ml-2 inline-block px-3 py-2 rounded-lg leading-none text-sm font-semibold text-orange-500 hover:text-orange-500 hover:bg-gray-200',
    }
  },
  computed: {
    currentPage() {
      return this.$route.path
    }
  },
  mounted(){
    this.activeSubLinks = this.tieringSubLinks; 
    this.countiesAutocomplete = county_json;
    this.statesAutocomplete = state_json;

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_SEARCH_VISIBILITY, visible => {
      this.searchVisibility = visible;
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_LOADING, loading => {
      this.loading = loading;
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_SUBLINK_VISIBILITY, visible => {
      this.sublinkVisibility = visible;
      if(visible) {
        this.submenuVisibility = false;
      }
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_SUBMENU_ITEMS_VISIBILITY, visible => {
      this.submenuVisibility = visible;
      if(visible) {
        this.sublinkVisibility = false;
      }
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_RESET_TIERING_SUBLINKS, () => {
      this.activeSubLinks = this.tieringSubLinks;
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_CUSTOM_SUBLINKS, links => {
      this.activeSubLinks = links;
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_TITLE, title => {
      this.title = title;
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_RESET_SUBMENU_ITEMS, () => {
      this.subMenuItems = [];
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_SUBMENU_ITEMS, items => {
      this.subMenuItems = items;
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_ITEMS, items => {
      this.autocompleteItemsSource = items;
      this.updateItems = this.updateItemsBase; //reset the update function
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_RESET_AUTOCOMPLETE_ITEMS, () => {
      this.items = [];
      this.searchItem = {};
      this.autocompleteItemsSource = [];
      this.updateItems = this.updateItemsBase; //reset the update function
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_COUNTIES, () => {
      this.items = [];
      this.searchItem = {};
      this.autocompleteItemsSource = this.countiesAutocomplete;
      this.updateItems = this.updateItemsBase; //reset the update function
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_STATES, () => {
      this.items = [];
      this.searchItem = {};
      this.autocompleteItemsSource = this.statesAutocomplete;
      this.updateItems = this.updateItemsBase; //reset the update function
    });

    GlobalEventBus.$on(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_STATES_COUNTIES, () => {
      this.items = [];
      this.searchItem = {};
      this.autocompleteItemsSource = [ ...this.statesAutocomplete, ...this.countiesAutocomplete ];
      let self = this;
      this.updateItems = function(text){
        let t = text.replace(/[.,/#!$%^&*;:{}=\-_`~()]/g,"").replace(/ +?/g, "");
        self.items = self.autocompleteItemsSource.filter(i => {  
          if(i.stateInfo){
            return (i.name+i.stateInfo.name).toLowerCase().includes(t.toLowerCase())
              || (i.name+i.stateInfo.abbreviation).toLowerCase().includes(t.toLowerCase())     
          }
          return i.name.toLowerCase().includes(t.toLowerCase())
        })
        if(self.items.length === 0) { self.items = [] }
      }
    });

  },
  methods: {
    searchAutcompleteItemSelected(item){
      if(item){
        GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_AUTOCOMPLETE_ITEM_SELECTED, item);
      }
    },
    getLabel(item){
      if(item){
        return item.name;
      }
      return '';
    },
    updateItems() {},
    updateItemsBase (text) {
      //each item in the  autocomplete item source should must have a 'name' property
      //if that doesn't work for your purposes, change the event pass in an updateFunction
      let t = text.replace(/[.,/#!$%^&*;:{}=\-_`~()]/g,"").replace(/ +?/g, "");
      this.items = this.autocompleteItemsSource.filter(i => {  
          return i.name.toLowerCase().includes(t.toLowerCase())
        })
      if(this.items.length === 0) { this.items = [] }
    },
    searchTextUpdated(text){
      this.searchText = text;
      GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SEARCH_CHANGED, text);
    },
    helpClicked() {
      GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_HELP_ICON_CLICKED);
    },
    searchEnterKey() {
      GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SEARCH_ENTER_PRESSED, this.searchText);
    },
    leftSideToggle() {
      GlobalEventBus.$emit(GLOBAL_EVENTS.LEFT_SIDEBAR_TOGGLE);
    },
    toggleActiveSubmenuItem(item){
      this.subMenuItems.forEach(i => {
        i.active = false;
      })
      item.active = true;
    },
    destroyed(){
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_SEARCH_VISIBILITY);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_SUBLINK_VISIBILITY);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_SUBMENU_ITEMS_VISIBILITY);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_RESET_TIERING_SUBLINKS);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_CUSTOM_SUBLINKS);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_RESET_SUBMENU_ITEMS);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_SUBMENU_ITEMS);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_ITEMS);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_RESET_AUTOCOMPLETE_ITEMS);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_COUNTIES);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_STATES);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_AUTOCOMPLETE_STATES_COUNTIES);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_LOADING);
      GlobalEventBus.$off(GLOBAL_EVENTS.TOP_BAR_SET_TITLE);
    }
  }
};
</script>
