<template>
  <div id="app" class="h-screen">
    <v-dialog/>
    <modals-container/>
    <Top style="height:10%"/>
    <LeftSide class="float-left" style="height:90%"/>
    <!-- Main Content with topbar offset-->
    <router-view class="z-0" style="height:90%"/>
    <!-- /main content -->  
  </div>
</template>

<script>
import LeftSide from "@/components/navigation/LeftSide";
import Top from "@/components/navigation/Top";
import { GlobalEventBus, GLOBAL_EVENTS } from "../src/utils/global-event-bus";

export default {
  name: "app",
  components: {
    LeftSide,
    Top
  },
  created() {
    //using this hook to prefecth data into the Vuex Stores  
    this.prefetchStores();
  },
  mounted() {
    //for fun... can use this for actual prefetch loading
    GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_LOADING, true);
    setTimeout(() => GlobalEventBus.$emit(GLOBAL_EVENTS.TOP_BAR_SET_LOADING, false), 3000)
  },
  methods: {
    prefetchStores() {
      this.$store.dispatch("entities/getInitialApprovedVendorsForwarders");
      //prefetch all counties in the US and store from server if desired
      //we are currently including the .json for them with the project
      //this.$store.dispatch("geo/getCounties");
      //we should prefetch states if we end up removing the seed
      //this.$store.dispatch("geo/getStates");
    }
  }
};
</script>